@import "../common/modal";
@import "../common/flash";
@import "../common/form";
@import "../common/list";
@import "../common/datepicker";
@import "../common//variables";
@import "../autocomplete/patients";

$labelWidth: 145px;
.modal-full {
    .pr-modal-body, .tab-loading {
        padding-top: 155px;
    }

    .tab-loading {
        text-align: center;
    }

    .btn.submitter {
        margin-top: 20px;
    }

    .form-horizontal-fixed {
        width: 65%;

        label {
            text-align: left;
            width: $labelWidth;
        }

        .more-options-container {
            width: $labelWidth + $form-horizontal-fixed-field-width;
        }
    }
}

.inventory-list-container {
    padding: 40px;

    .inventory-list-header-container {
    }

    .inventory-list-header {
        h3 {
            margin: 0;
        }

        .new-item {
            margin-right: 10px;
        }
    }

    .inventory-list-header-left {
        float: left;
    }

    .inventory-list-header-right {
        float: right;
    }

    .inventory-list-sub-header {
        margin: 10px 0;
        background: #f5f5f5;
        padding: 10px;

        .inventory-list-search-container {
            float: left;

            .form-group {
                margin: 0;
            }

            .items-search {
                width: 265px;
            }
        }

        .inventory-list-filters-container {
            float: right;

            .items-filters-title {
                margin-right: 15px;
                vertical-align: middle;
            }

            .list-group {
                margin: 0;
                display: inline-block;
            }

            .list-group-item {
                padding: 5px 15px;

                &.active {
                    background-color: rgb(220, 238, 229);
                    border-color: #BDE7B8;
                    color: #1D941D;
                }
            }
        }
    }

    .inventory-list {
        .stock-level-label {
            display: none;
            margin-left: 4px;
        }

        .item-available-stock {
            &.low {
                .stock-level-label {
                    display: inline-block;
                }
            }
        }

        .item-expired-stock {
            &.expired {
                .stock-level-label {
                    display: inline-block;
                }
            }
        }
    }
}

#editItemContainer {
    .tab-pane {
        padding-top: 60px;
    }
}

#issueMedicineContainer {
    $issueMedicineLabelWidth: 110px;

    .form-horizontal-fixed {
        width: 65%;

        label {
            text-align: left;
            width: $issueMedicineLabelWidth;
        }
    }

    .medicine-issued {
        display: none;
        text-align: center;
        font-size: 24px;
    }
}

.table-stock {
    .stock-level-label {
        display: none;
        margin-left: 4px;
    }

    .batch-expired {
        &.expired {
            .stock-level-label {
                display: inline-block;
            }
        }
    }
}