﻿@model ProdoctWebApp.Models.ItemAddModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>New Item</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("AddItem", "Inventory", null, new AjaxOptions
                        {
                            OnBegin = "pr.inventory.item.add.before",
                            OnSuccess = "pr.inventory.item.add.after",
                            OnFailure = "pr.inventory.item.add.error"
                        }, new { @class = "form-horizontal", id = "addItemForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">

                <div class="form-group">
                    <label for="add_ItemName" class="col-sm-2 control-label">Item Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { id = "add_ItemName", placeholder = "Item Name", @class = "form-control focus-on-load" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ItemCode" class="col-sm-2 control-label">Item Code</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Code, new { id = "add_ItemCode", placeholder = "Item Code", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ItemManufacturer" class="col-sm-2 control-label">Manufacturer</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Manufacturer, new { id = "add_ItemManufacturer", placeholder = "Manufacturer", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ItemStockingUnit" class="col-sm-2 control-label">Stocking Unit</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.StockingUnit, new { id = "add_ItemStockingUnit", placeholder = "e.g. Strips, Bottles, Tablets etc.", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ItemReorderLevel" class="col-sm-2 control-label">Reorder Level</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.ReorderLevel, new { id = "add_ItemReorderLevel", placeholder = "Reorder Level", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnAddItem" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Add Item
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>