﻿@model ProdoctWebApp.Models.StockAddModel


@using (Ajax.BeginForm("AddStock", "Inventory", null, new AjaxOptions
                {
                    OnBegin = "pr.inventory.stock.add.before",
                    OnSuccess = "pr.inventory.stock.add.after",
                    OnFailure = "pr.inventory.stock.add.error"
                }, new { @class = "form-horizontal", id = "addStockForm" }))
{
    <div class="form-horizontal-fixed col-sm-8">

        @Html.HiddenFor(x => x.ItemId)

        <div class="form-group">
            <label for="add_StockName" class="col-sm-2 control-label">Batch Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.BatchName, new { id = "add_StockName", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="add_StockVendor" class="col-sm-2 control-label">Vendor</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Vendor, new { id = "add_StockVendor", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="add_StockAdded" class="col-sm-2 control-label">Added</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.AddedDate, new { id = "add_StockAdded", placeholder = "Date when Stock added", @class = "form-control datepicker", @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <label for="add_StockExpiry" class="col-sm-2 control-label">Expiry</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.ExpiryDate, new { id = "add_StockExpiry", @class = "form-control datepicker no-default", @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <label for="add_StockTotal" class="col-sm-2 control-label">Total @Model.StockingUnit</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.TotalStock, new { id = "add_StockTotal",  @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnAddStock" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Add Stock
                </button>
            </div>
        </div>

    </div>
}