﻿@model ProdoctWebApp.Models.StockConsumeModel


@using (Ajax.BeginForm("ConsumeStock", "Inventory", null, new AjaxOptions
                {
                    OnBegin = "pr.inventory.stock.consume.before",
                    OnSuccess = "pr.inventory.stock.consume.after",
                    OnFailure = "pr.inventory.stock.consume.error"
                }, new { @class = "form-horizontal", id = "consumeStockForm" }))
{
    <div class="form-horizontal-fixed col-sm-8">

        @Html.HiddenFor(x => x.ItemId)

        <div class="form-group">
            <label for="consume_Type" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.Type, Model.AllTypes, new { id = "consume_Type", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="consume_Date" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Date, new { id = "consume_Date", placeholder = "Date of consumption", @class = "form-control datepicker", @readonly = true })
            </div>
        </div>

        <div class="form-group">
            <label for="consume_BatchId" class="col-sm-2 control-label">Batch</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.BatchId, Model.AllBatches, new { id = "consume_BatchId", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="consume_Quantity" class="col-sm-2 control-label">Quantity</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Quantity, new { id = "consume_Quantity", @class = "form-control focus-on-load", placeholder = string.Format("{0} consumed", Model.StockingUnit) })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnConsumeStock" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Consume Stock
                </button>
            </div>
        </div>

    </div>
}