﻿@model ProdoctWebApp.Models.ItemEditContainerModel

<div class="pr-modal-content" id="editItemContainerContent" data-item-id="@Model.Id">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title">
                <h3>@Model.Name</h3>
                @if (!string.IsNullOrWhiteSpace(Model.Code))
                {
                    <span class="pr-modal-sub-title">@Model.Code</span>
                }
            </div>
        </div>
    </div>

    <div class="pr-modal-body">
        <div role="tabpanel" class="tabs-container padding">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a id="itemBasicsTabLink" href="#itembasics" aria-controls="itembasics"
                       role="tab" data-toggle="tab" data-get="/Inventory/EditBasics/@Model.Id"
                       data-target="#itembasics" data-fire-change="false"
                       data-broadcast-on-load="itemBasicsLoaded">Basic Info</a>
                </li>
                <li role="presentation">
                    <a id="itemStockTabLink" href="#itemstock" aria-controls="itemstock"
                       role="tab" data-toggle="tab" data-get="/Inventory/GetStock/@Model.Id"
                       data-target="#itemstock" data-fire-change="false"
                       data-broadcast-on-load="itemStockLoaded">View Stock</a>
                </li>
                <li role="presentation">
                    <a id="itemHistoryTabLink" href="#itemhistory" aria-controls="itemhistory"
                       role="tab" data-toggle="tab" data-get="/Inventory/GetHistory/@Model.Id"
                       data-target="#itemhistory" data-fire-change="false"
                       data-broadcast-on-load="itemHistoryLoaded">View History</a>
                </li>
                <li role="presentation">
                    <a id="addStockTabLink" href="#addstock" aria-controls="addstock"
                       role="tab" data-toggle="tab" data-get="/Inventory/AddStock/@Model.Id"
                       data-target="#addstock" data-fire-change="false"
                       data-broadcast-on-load="addStockLoaded">Add Stock</a>
                </li>
                <li role="presentation">
                    <a id="consumeStockTabLink" href="#consumestock" aria-controls="consumestock"
                       role="tab" data-toggle="tab" data-get="/Inventory/ConsumeStock/@Model.Id"
                       data-target="#consumestock" data-fire-change="false"
                       data-broadcast-on-load="consumeStockLoaded">Consume Stock</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in" id="itembasics"></div>
                <div role="tabpanel" class="tab-pane fade" id="itemstock"></div>
                <div role="tabpanel" class="tab-pane fade" id="itemhistory"></div>
                <div role="tabpanel" class="tab-pane fade" id="addstock"></div>
                <div role="tabpanel" class="tab-pane fade" id="consumestock"></div>
            </div>
        </div>

    </div>
</div>

<script>
    var tabLink = "@Model.DefaultTab";
    $('#' + tabLink).addClass('active');
</script>