﻿@model ProdoctWebApp.Models.ItemEditModel

@using (Ajax.BeginForm("EditBasics", "Inventory", null, new AjaxOptions
                        {
                            OnBegin = "pr.inventory.item.edit.before",
                            OnSuccess = "pr.inventory.item.edit.after",
                            OnFailure = "pr.inventory.item.edit.error"
                        }, new { @class = "form-horizontal", id = "editItemForm" }))
{
    <div class="form-horizontal-fixed col-sm-8">

        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            <label for="edit_ItemName" class="col-sm-2 control-label">Item Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { id = "edit_ItemName", placeholder = "Item Name", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_ItemCode" class="col-sm-2 control-label">Item Code</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Code, new { id = "edit_ItemCode", placeholder = "Item Code", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_ItemManufacturer" class="col-sm-2 control-label">Manufacturer</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Manufacturer, new { id = "edit_ItemManufacturer", placeholder = "Manufacturer", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_ItemStockingUnit" class="col-sm-2 control-label">Stocking Unit</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.StockingUnit, new { id = "edit_ItemStockingUnit", placeholder = "e.g. Strips, Bottles, Tablets etc.", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_ItemReorderLevel" class="col-sm-2 control-label">Reorder Level</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.ReorderLevel, new { id = "edit_ItemReorderLevel", placeholder = "Reorder Level", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnEditItem" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update Item
                </button>
            </div>
        </div>

        <div class="form-group">
            <div id="ItemsMoreOptionsContainer" class="col-sm-12 more-options-container">
                <div class="more-options">
                    <label>Options:</label>
                    <button id="deleteItem" class="delete-item btn-link submitter">Delete Item</button>
                </div>
            </div>
        </div>

    </div>
}