﻿@model ProdoctWebApp.Models.GetMedicinesModel

<div class="form-group">
    @*<label for="MedicineId" class="col-sm-2 control-label">Medicine</label>*@
    <div class="col-sm-12">
        @Html.DropDownListFor(x => x.MedicineId, Model.AllMedicines, new { @class = "form-control issue-medicine-select" })

        <a href="#" class="issue-medicine-a" target="_blank">Go</a>

    </div>
</div>