﻿@model ProdoctWebApp.Models.ItemHistoryListModel

@if (Model.Transactions.Count == 0)
{
    <tr>
        <td class="no-more-results-container" colspan="4">
            <span class="no-more-results">End of list</span>
        </td>
    </tr>
}
else
{

    foreach (var history in Model.Transactions)
    {
        <tr id="@history.Id" data-history-id="@history.Id">

            <td class="history-date">@history.Date</td>
            <td class="history-batch">@history.BatchName</td>
            <td class="history-description">@history.Description</td>
            <td class="history-quantity">
                @history.Quantity
                <span class="glyphicon glyphicon-repeat delete-row reverse-history" title="Reverse"></span>
            </td>

        </tr>
    }

    if (Model.MoreExist)
    {
        <tr class="get-more-container next-set">
            <td colspan="4">
                <button id="historyGetMore" class="btn btn-default get-more" data-skip="@Model.Skip">Get more</button>
            </td>
        </tr>
    }
}