﻿@model ProdoctWebApp.Models.StockListModel

<table class="table table-hover table-stock">
    <thead>
        <tr>
            <th>Batch Name</th>
            <th>Vendor</th>
            <th>Added</th>
            <th>Expiry</th>
            <th>Total @Model.StockingUnit</th>
            <th>Available</th>
            <th>Expired</th>
        </tr>
    </thead>
    <tbody id="stock">
        @Html.Partial("_ListStock", Model)
    </tbody>
</table>