﻿@model ProdoctWebApp.Models.ItemListModel

@if (Model.Items.Count == 0)
{
    <tr>
        <td class="no-more-results-container" colspan="7">
            <span class="no-more-results">End of list</span>
        </td>
    </tr>
}
else
{

    foreach (var item in Model.Items)
    {
        <tr class="item modal-link" data-id="@item.Id"
            data-modal="editItemContainer" data-target="#editItemContainer"
            data-get="/Inventory/Edit/@item.Id"
            data-loading-message="Loading @item.Name Record ..."
            data-broadcast-on-load="editItemLoaded">

            <td class="item-name">@item.Name</td>
            <td class="item-code">@item.Code</td>
            <td class="item-reorder-level">@item.ReorderLevel</td>
            <td class="item-total-stock">@item.TotalStock</td>
            
            @{
                var clss = item.ReorderLevel > item.AvailableStock ? "low" : string.Empty;
                var level = item.AvailableStock == 0 ? "Empty" : "Low";
            }

            <td class="item-available-stock @clss">
                @item.AvailableStock <span class="label label-danger stock-level-label">@level</span>
            </td>

            @{
                clss = item.ExpiredStock > 0 ? "expired" : string.Empty;
            }

            <td class="item-expired-stock @clss">
                @item.ExpiredStock <span class="label label-warning stock-level-label">Expired</span>
            </td>

            <td class="item-stocking-unit">@item.StockingUnit</td>

        </tr>
    }

    if (Model.MoreExist)
    {
        <tr class="get-more-container next-set">
            <td colspan="7">
                <button id="itemsGetMore" class="btn btn-default get-more" data-skip="@Model.Skip">Get more</button>
            </td>
        </tr>
    }
}