﻿@model ProdoctWebApp.Models.ItemHistoryListModel

<table class="table table-hover table-history">
    <thead>
        <tr>
            <th>Date</th>
            <th>Batch</th>
            <th>Description</th>
            <th>@Model.StockingUnit</th>
        </tr>
    </thead>
    <tbody id="history">
        @Html.Partial("_ListHistory", Model)
    </tbody>
</table>