﻿@model ProdoctWebApp.Models.StockListModel

@if (Model.Batches.Count == 0)
{
    <tr>
        <td class="no-more-results-container" colspan="7">
            <span class="no-more-results">End of list</span>
        </td>
    </tr>
}
else
{

    foreach (var batch in Model.Batches)
    {
        <tr data-batch-id="@batch.BatchId">

            <td class="batch-name">@batch.BatchName</td>
            <td class="batch-vendor">@batch.Vendor</td>
            <td class="batch-added">@batch.AddedDate</td>
            <td class="batch-expiry">@batch.ExpiryDate</td>
            <td class="batch-total">@batch.Total</td>
            <td class="batch-available">@batch.Available</td>

            @{
                var clss = batch.Expired > 0 ? "expired" : string.Empty;
            }
            <td class="batch-expired @clss">
                @batch.Expired <span class="label label-warning stock-level-label">Expired</span>

                <span class="glyphicon glyphicon-minus-sign delete-row delete-stock" title="Delete"></span>
            </td>

        </tr>
    }

    if (Model.MoreExist)
    {
        <tr class="get-more-container next-set">
            <td colspan="7">
                <button id="batchGetMore" class="btn btn-default get-more" data-skip="@Model.Skip">Get more</button>
            </td>
        </tr>
    }
}