﻿@model ProdoctWebApp.Models.InventoryIndexModel
@{
    ViewBag.Title = "Inventory";
}

<div class="content">
    <div class="inventory-list-container">
        <div class="inventory-list-header-container">
            <div class="inventory-list-header clearfix">
                <div class="inventory-list-header-left"><h3>Inventory</h3></div>
                <div class="inventory-list-header-right">
                    <button class="btn btn-default new-item modal-link"
                            data-modal="addItemContainer" 
                            data-target="#addItemContainer"
                            data-get="Inventory/AddItem"
                            data-loading-message="Loading New Item ..."
                            data-broadcast-on-load="addItemLoaded">
                        <span class="glyphicon glyphicon-plus"></span> New Item
                    </button>

                    @*<div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Add Stock</button>
                        <button type="button" class="btn btn-default">Consume Stock</button>
                    </div>*@
                </div>
            </div>
            <div class="inventory-list-sub-header clearfix">
                <div class="inventory-list-search-container">
                    <form id="itemsSearchForm">
                        <div class="items-search-container form-group has-feedback has-feedback-left">
                            <input id="itemsSearch" type="text" class="form-control items-search" placeholder="Search by Name / Item Code" />
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <div class="inventory-list-filters-container">
                    <span class="items-filters-title">Stock Level</span>
                    <div class="list-group list-group-horizontal stock-level">
                        <a class="list-group-item active" href="#" data-value="All">All</a>
                        <a class="list-group-item" href="#" data-value="Low">Low</a>
                        <a class="list-group-item" href="#" data-value="Expired">Expired</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="inventory-list">

            <table class="table table-hover table-items">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Item Code</th>
                        <th>Reorder Level</th>
                        <th>Total Stock</th>
                        <th>Available Stock</th>
                        <th>Expired Stock</th>
                        <th>Stocking Unit</th>
                    </tr>
                </thead>
                <tbody id="items">
                    @Html.Partial("_ListItem", Model.ItemList)
                </tbody>
            </table>

        </div>

    </div>
</div>

<div id="addItemContainer" class="pr-modal modal-full"></div>
<div id="editItemContainer" class="pr-modal modal-full"></div>
<div id="consumeItemsContainer" class="pr-modal modal-full"></div>

@section css
{
    @Styles.Render("~/bundles/css/inventory")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/inventory")
}