﻿@model ProdoctWebApp.Models.IssueMedicineModel
@{
    ViewBag.Title = "Issue Medicine";
}

<div class="content">
    <div id="issueMedicineContainer" class="pr-modal modal-full show">
        <div class="pr-modal-content">
            <div class="pr-modal-header">
                <div class="pr-modal-header-content">
                    <div class="pr-modal-title"><h3>Issue Medicine - @Model.MedicineName</h3></div>
                </div>
            </div>

            <div class="pr-modal-body">
                @using (Ajax.BeginForm("IssueMedicine", "Inventory", null, new AjaxOptions
                        {
                            OnBegin = "pr.inventory.issueMedicine.before",
                            OnSuccess = "pr.inventory.issueMedicine.after",
                            OnFailure = "pr.inventory.issueMedicine.error"
                        }, new { @class = "form-horizontal issue-medicine", id = "issueMedicineForm" }))
                {
                    <div class="form-horizontal-fixed col-sm-8">

                        @Html.HiddenFor(x => x.AppointmentId)

                        @Html.HiddenFor(x => x.ItemId)

                        <div class="patient-fees show patient-summary form-group">
                            @Html.HiddenFor(x => x.PatientId, new { @class = "patient-id" })
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Patient</label>
                                <div class="col-sm-10">
                                    <div class="form-control patient-summary-content">
                                        <div class="patient-name">@Model.PatientName</div>
                                        <div class="patient-locality">@Model.PatientLocality</div>
                                        <div class="patient-mobile">@Model.PatientMobile</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="issueMedicine_DoctorId" class="col-sm-2 control-label">Doctor</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "issueMedicine_DoctorId", @class = "form-control doctor-id", disabled = true })
                                    @Html.HiddenFor(x => x.DoctorId)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="issueMedicine_Date" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Date, new { id = "issueMedicine_Date", placeholder = "Date", @class = "form-control", @disabled = true })
                                @Html.HiddenFor(x => x.Date)
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="issueMedicine_BatchId" class="col-sm-2 control-label">Batch</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(x => x.BatchId, Model.AllBatches, new { id = "issueMedicine_BatchId", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="issueMedicine_Quantity" class="col-sm-2 control-label">Quantity</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Quantity, new { id = "issueMedicine_Quantity", @class = "form-control focus-on-load", placeholder = string.Format("{0} to issue", Model.StockingUnit) })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10 btn-container">
                                <button id="btnIssueMedicine" type="submit"
                                        class="btn btn-success btn-block submitter"
                                        data-remove-on-submit="btn-success"
                                        data-add-on-submit="btn-default">
                                    Issue Medicine
                                </button>
                            </div>
                        </div>

                    </div>
                }


                <div id="medicineIssued" class="medicine-issued">
                    <div>Issued successfully</div>
                    <div><a href="#" onclick="window.close()">Close this window</a></div>
                </div>

            </div>
        </div>
    </div>

</div>

@section css
{
    @Styles.Render("~/bundles/css/inventory")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/inventory")
}