@import "../common/collapsible";
@import "../common/modal";
@import "../common/flash";
@import "../common/form";
@import "../common/datepicker";
@import "../common/list";
@import "../common//variables";
@import "../autocomplete/patients";

$labelWidth: 90px;
.modal-full {
    .tab-loading {
        text-align: center;
        padding-top: 155px;
    }

    .pr-modal-body {
        padding: 150px 20px 25px 25px;
    }

    .btn.submitter {
        margin-top: 20px;
    }

    .form-horizontal-fixed {
        width: 65%;

        label {
            text-align: left;
            width: $labelWidth;
        }

        .more-options-container {
            width: $labelWidth + $form-horizontal-fixed-field-width;
        }
    }
}

.content-container {
    & > .modal-full {
        position: fixed;
    }
}

.add-menu {
    width: 190px;
}

.report-header {
    width: 100%;
    background: #fafafa;
    padding: 30px;
    border-bottom: 2px solid #fff;

    .report-selector {
        float: left;
    }

    .report-duration {
        float: right;
        position: relative;
        margin-right: 15px;

        .stepper {
            position: absolute;
            top: 8px;
            cursor: pointer;
            opacity: .5;

            &.previous {
                left: -26px;
            }

            &.next {
                right: -26px;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}

.report-chart-container {
    padding: 32px 100px;
    background: #fafafa;
    border-bottom: 2px solid #eee;
}

.report-chart {
}

.report-list-container {
    padding: 35px 50px;
}

.patient-fees {
    display: none;
}

.patient-summary {
    display: none;
}

.income-color {
    width: 16px;
    height: 16px;
}

#addFeesContainer {
    .fees-added {
        display: none;
        text-align: center;
        font-size: 24px;
    }
}