.collapsible {
  position: relative;
  text-align: left;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.1); }
  .collapsible .collapsible-header {
    padding: 8px 0 8px 28px;
    background: #CBE9FA;
    cursor: pointer; }
    .collapsible .collapsible-header .collapsible-icon {
      position: absolute;
      top: 10px;
      right: 14px;
      font-size: 10px;
      color: #999; }
      .collapsible .collapsible-header .collapsible-icon.collapsed {
        display: none; }
    .collapsible .collapsible-header:hover {
      background: #C0E7FD; }
  .collapsible .collapsible-content {
    background: #FDFDFD;
    height: 100%;
    min-height: 60px; }
    .collapsible .collapsible-content .list-items {
      padding: 25px 15px 20px 15px; }
      .collapsible .collapsible-content .list-items.with-badge .list-item {
        display: block;
        padding-right: 4px; }
    .collapsible .collapsible-content .list-item {
      padding: 5px 14px 3px 13px;
      font-size: .9em;
      margin: 5px 0 10px 0;
      cursor: pointer;
      display: inline-block; }
      .collapsible .collapsible-content .list-item .badge {
        float: right;
        background: #BCC8CF; }
      .collapsible .collapsible-content .list-item:hover, .collapsible .collapsible-content .list-item.active {
        background: #eee;
        border-radius: 20px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3); }
  .collapsible.collapsed {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2); }
    .collapsible.collapsed .collapsible-header .collapsible-icon.collapsed {
      display: block; }
    .collapsible.collapsed .collapsible-header .collapsible-icon.expanded {
      display: none; }
    .collapsible.collapsed .collapsible-content {
      display: none; }

.pr-modal {
  display: none;
  z-index: 9999; }

.modal-link {
  cursor: pointer; }

.modal-full {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998; }
  .modal-full .pr-modal-content {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    overflow: auto; }
  .modal-full .pr-modal-header {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 999; }
    .modal-full .pr-modal-header .pr-modal-header-content {
      background: #fff;
      width: 100%;
      height: 55px;
      border-bottom: 1px solid #eee;
      z-index: 999; }
    .modal-full .pr-modal-header .pr-modal-title {
      float: left;
      margin-top: 14px;
      margin-left: 20px; }
      .modal-full .pr-modal-header .pr-modal-title h3 {
        display: inline; }
    .modal-full .pr-modal-header .pr-modal-sub-title {
      margin: 0 15px; }
    .modal-full .pr-modal-header .modal-close {
      float: right;
      margin-top: 12px;
      margin-right: 25px;
      font-size: 24px;
      cursor: pointer;
      color: #317eac; }
  .modal-full .pr-modal-body {
    padding-top: 95px;
    padding-bottom: 25px;
    width: 100%;
    background: #fff; }
    .modal-full .pr-modal-body .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0; }
      .modal-full .pr-modal-body .form-horizontal .form-group:last-child {
        margin-bottom: 0; }
    .modal-full .pr-modal-body .padding {
      padding: 10px 40px; }

.flash {
  display: none;
  position: absolute;
  top: -8px;
  z-index: 10000;
  padding: 21px 20px 13px 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer; }
  .flash.loading {
    background: #ffff7b;
    cursor: default; }
  .flash.info {
    background: #CAECFF; }
  .flash.error {
    background: #DF4242;
    color: #fff; }
  .flash.success {
    background: #31BB1A;
    color: #fff; }

.single-message {
  text-align: center; }

.form-horizontal-fixed {
  padding-bottom: 35px;
  width: 100%; }
  .form-horizontal-fixed .form-group label {
    width: 140px; }
  .form-horizontal-fixed .form-group .col-sm-10 {
    width: 320px; }
  .form-horizontal-fixed .btn-link[disabled] {
    color: #bbb; }
  .form-horizontal-fixed.padding {
    padding: 40px 20px; }
  .form-horizontal-fixed .checkbox {
    display: inline-block; }
    .form-horizontal-fixed .checkbox label {
      width: auto !important; }

input, button, select, textarea {
  max-width: 320px; }

.more-options-container {
  margin-top: 35px; }

.more-options {
  background: #f5f5f5;
  padding: 10px 15px 5px 15px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-top: 1px solid #ccc;
  border-radius: 4px; }
  .more-options label {
    width: auto !important; }
  .more-options > .btn-link {
    padding: 0 12px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    margin-top: 0 !important; }
    .more-options > .btn-link:last-child {
      border-right: 0;
      padding-right: 0; }

input[readonly].datetimepicker, input[readonly].datepicker {
  cursor: pointer;
  background-color: #fff; }

.input-daterange input {
  width: 100px !important;
  cursor: pointer !important;
  background: #fff !important; }

.no-more-results-container {
  text-align: center;
  width: 100%;
  clear: both;
  padding-top: 60px !important;
  border-bottom: 1px dashed #C5C5C5;
  position: relative; }
  .no-more-results-container .no-more-results {
    width: 90px;
    height: 30px;
    position: absolute;
    top: 50px;
    background: #fff;
    left: 50%;
    margin-left: -45px;
    line-height: 38px; }

tr.get-more-container td {
  text-align: center;
  padding: 0 !important; }
tr.get-more-container button {
  display: inline-block;
  width: 100%;
  max-width: none;
  border-color: #eee;
  padding: 10px 12px;
  background: #f5f5f5; }
  tr.get-more-container button:hover {
    background: #eee;
    border-color: #eee; }
tr.get-more-container .rows-loading {
  padding: 10px 12px;
  font-weight: bold; }

tr td {
  position: relative; }
tr .delete-row {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer; }
tr:hover .delete-row {
  display: block; }

.patient-summary {
  display: none; }

.patient-summary-content {
  height: auto;
  max-width: 320px;
  line-height: 22px;
  background: #f5f5f5;
  position: relative; }
  .patient-summary-content > div {
    display: inline-block; }
  .patient-summary-content .patient-name {
    font-weight: bold;
    margin-right: 3px; }
  .patient-summary-content .patient-locality, .patient-summary-content .patient-mobile {
    font-size: 0.9em; }
  .patient-summary-content .patient-mobile {
    display: block; }
  .patient-summary-content .patient-change {
    position: absolute;
    right: -24px;
    background: #f5f5f5;
    padding: 5px;
    top: -1px;
    border: 1px solid #ccc;
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

.modal-full .tab-loading {
  text-align: center;
  padding-top: 155px; }
.modal-full .pr-modal-body {
  padding: 150px 20px 25px 25px; }
.modal-full .btn.submitter {
  margin-top: 20px; }
.modal-full .form-horizontal-fixed {
  width: 65%; }
  .modal-full .form-horizontal-fixed label {
    text-align: left;
    width: 90px; }
  .modal-full .form-horizontal-fixed .more-options-container {
    width: 410px; }

.content-container > .modal-full {
  position: fixed; }

.add-menu {
  width: 190px; }

.report-header {
  width: 100%;
  background: #fafafa;
  padding: 30px;
  border-bottom: 2px solid #fff; }
  .report-header .report-selector {
    float: left; }
  .report-header .report-duration {
    float: right;
    position: relative;
    margin-right: 15px; }
    .report-header .report-duration .stepper {
      position: absolute;
      top: 8px;
      cursor: pointer;
      opacity: .5; }
      .report-header .report-duration .stepper.previous {
        left: -26px; }
      .report-header .report-duration .stepper.next {
        right: -26px; }
      .report-header .report-duration .stepper:hover {
        opacity: 1; }

.report-chart-container {
  padding: 32px 100px;
  background: #fafafa;
  border-bottom: 2px solid #eee; }

.report-list-container {
  padding: 35px 50px; }

.patient-fees {
  display: none; }

.patient-summary {
  display: none; }

.income-color {
  width: 16px;
  height: 16px; }

#addFeesContainer .fees-added {
  display: none;
  text-align: center;
  font-size: 24px; }

