.box-header {
    display: none;
}

.link-response {
    text-align: center;
}

.link-options {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    background: #f5f5f5;
    width: 100%;

    a {
        padding: 0 10px;
        border-right: 1px solid #e2e2e2;

        &:last-child {
            border-right: 0;
        }
    }
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 26px;
}

.support-message {
    margin: 30px 0 10px 16px;
    text-align: left;
}