﻿
<div class="report-header clearfix">

    <div class="report-selector">
        <select class="form-control">
            <option value="abc">Income v/s Expenses</option>
        </select>
    </div>

    <div class="report-duration">
        <input type="text" class="form-control" placeholder="Date range" />
    </div>

</div>

<div class="report-chart-container">
    <div class="report-chart">
        <canvas id="myChart"></canvas>
    </div>
</div>