@import "../common/collapsible";
@import "../common/modal";
@import "../common/flash";
@import "../common/form";
@import "../common/list";
@import "../common//variables";

.content-with-sidebar {
    .content {
        padding-top: 100px;
    }
}

$labelWidth: 90px;

.modal-full {
    .pr-modal-body, .tab-loading {
        padding-top: 155px;
    }

    .tab-loading {
        text-align: center;
    }

    .btn.submitter {
        margin-top: 20px;
    }

    .form-horizontal-fixed {
        width: 65%;

        label {
            text-align: left;
            width: $labelWidth;
        }

        .more-options-container {
            width: $labelWidth + $form-horizontal-fixed-field-width;
        }
    }
}

.patients-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: $menu-height;
    padding: 30px 0 20px 25px;
    padding-right: $sidebar-width + 25px;
    border-bottom: 1px solid #F7F7F7;
    background: #FDFDFD;

    .patients-heading {
        float: left;
        margin: 0;
    }

    .patients-search-container {
        float: right;
        margin: 0;

        .patients-search {
            max-width: none;
            width: 350px;
        }
    }
}

.patients-loading {
    text-align: center;
    margin-top: 40px;
}

.patients-list {
    padding: 30px 0;
}

.patient {
    float: left;
    margin: 0px 20px 20px 0;
    padding: 15px;
    background: #fcfcfc;
    border: 1px solid #e2e2e2;
    width: 200px;
    height: 100px;
    cursor: pointer;

    .patient-name {
        font-weight: bold;
    }

    &:hover {
        background: #FFD;
        border: 1px solid #E7E779;
    }
}

.patients-sort {
    .badge {
        background: #479BCB !important;
    }
}

.patients-get-more-container {
    text-align: center;
    width: 100%;
    clear: both;
    padding-top: 50px;

    .patients-get-more {
        display: inline-block;
    }

    .patients-loading {
        margin: 0;
    }
}