﻿@model ProdoctWebApp.Models.CalendarSettingsModel

<ul class="nav nav-tabs single-tab-heading">
    <li role="presentation"><a class="heading">Calendar Settings</a></li>
</ul>

@using (Ajax.BeginForm("Calendar", "Settings", null, new AjaxOptions
                        {
                            OnBegin = "pr.settings.calendar.before",
                            OnSuccess = "pr.settings.calendar.after",
                            OnFailure = "pr.settings.calendar.error"
                        }, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal-fixed padding">
        
        <div class="form-group">
            <label for="ShowCanceledAppointments" class="col-sm-2 control-label">Canceled Appointments</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(x => x.ShowCanceledAppointments)
                        Show Canceled Appointments
                    </label>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnUpdateCalendarSettings" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update
                </button>
            </div>
        </div>

    </div>
}