﻿@model ProdoctWebApp.Models.DoctorEditModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>@Model.Name</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">

        <div role="tabpanel" class="tabs-container padding">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a id="doctorBasicsTabLink" href="#doctorbasics" aria-controls="doctorbasics"
                       role="tab" data-toggle="tab" data-get="/Settings/DoctorBasics/@Model.Id"
                       data-target="#doctorbasics" data-fire-change="false"
                       data-broadcast-on-load="doctorBasicInfoLoaded">Basic Info</a>
                </li>
                <li role="presentation">
                    <a id="doctorPrivilegesTabLink" href="#doctorprivileges" aria-controls="doctorprivileges" 
                       role="tab" data-toggle="tab" data-get="/Settings/DoctorPrivileges/@Model.Id" 
                       data-target="#doctorprivileges" data-fire-change="false">Privileges</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in" id="doctorbasics"></div>
                <div role="tabpanel" class="tab-pane fade" id="doctorprivileges"></div>
            </div>
        </div>

    </div>
</div>