﻿@model ProdoctWebApp.Models.DoctorBasicsModel

@using (Ajax.BeginForm("DoctorBasics", "Settings", null, new AjaxOptions
                {
                    OnBegin = "pr.settings.doctor.editBasics.before",
                    OnSuccess = "pr.settings.doctor.editBasics.after",
                    OnFailure = "pr.settings.doctor.editBasics.error"
                }, new { @class = "form-horizontal", id = "editDoctorForm" }))
{
    <div class="form-horizontal-fixed col-sm-8 padding">
                
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            <label for="edit_DoctorName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { id = "edit_DoctorName", placeholder = "Name", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_DoctorTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Title, new { id = "edit_DoctorTitle", placeholder = "Title", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_DoctorEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @if(Model.IsSelf)
                {
                    @Html.TextBoxFor(x => x.Email, new { id = "edit_DoctorEmail", placeholder = "Email", @class = "form-control", @readonly = true })
                }
                else
                { 
                    @Html.TextBoxFor(x => x.Email, new { id = "edit_DoctorEmail", placeholder = "Email", @class = "form-control" })
                }
            </div>
        </div>

        <div class="form-group">
            <label for="edit_DoctorMobile" class="col-sm-2 control-label">Mobile</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Mobile, new { id = "edit_DoctorMobile", placeholder = "Mobile", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_CalendarColor" class="col-sm-2 control-label">Calendar Color</label>
            <div class="col-sm-10">
                <div class="input-group calendar-color">
                    @Html.TextBoxFor(x => x.CalendarColor, new { id = "edit_CalendarColor", placeholder = "Calendar Color", @class = "form-control" })
                    <span class="input-group-addon"><i></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="edit_DoctorAllowLogin" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        @if(Model.IsSelf)
                        {
                        @Html.CheckBoxFor(x => x.AllowLogin, new { id = "edit_DoctorAllowLogin", disabled = "disabled" })
                        }
                        else
                        { 
                        @Html.CheckBoxFor(x => x.AllowLogin, new { id = "edit_DoctorAllowLogin" })
                        }
                        Allow user to log in
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnDoctorBasics" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update
                </button>
            </div>
        </div>

        @if(!Model.IsSelf)
        { 
        <div class="form-group">
            <div id="doctorMoreOptionsContainer" class="col-sm-12 more-options-container">
                <div class="more-options">
                    <label>Options:</label>
                    <button id="deleteDoctor" class="delete-staff btn-link submitter">Delete Permanently</button>
                </div>
            </div>
        </div>
        }
        
    </div>
}