﻿@model ProdoctWebApp.Models.DoctorPrivilegesModel

@using (Ajax.BeginForm("DoctorPrivileges", "Settings", null, new AjaxOptions
                {
                    OnBegin = "pr.settings.doctor.editPrivileges.before",
                    OnSuccess = "pr.settings.doctor.editPrivileges.after",
                    OnFailure = "pr.settings.doctor.editPrivileges.error"
                }, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal-fixed col-sm-8 padding">

        @Html.HiddenFor(x => x.Id)

        <div class="form-group alert alert-info">
            <label class="col-sm-2 control-label">Administrator?</label>
            <div class="col-sm-5">
                <div class="checkbox">
                    <label>@Html.CheckBoxFor(x => x.IsAdmin, new { id = "doctor_IsAdmin" }) Yes</label>
                </div>
            </div>
        </div>

        <div class="form-group privileges @(Model.IsAdmin ? "admin" : string.Empty)">

            <div class="form-group">
                <label class="col-sm-2 control-label">Appointments</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.AppointmentsRead) Read</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.AppointmentsWrite) Write</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Patients</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.PatientsRead) Read</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.PatientsWrite) Write</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Medicines</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.InventoryRead) Read</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.InventoryWrite) Write</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Finance</label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.FinanceRead) Read</label>
                    </div>
                    <div class="checkbox">
                        <label>@Html.CheckBoxFor(x => x.FinanceWrite) Write</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnDoctorPrivileges" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update
                </button>
            </div>
        </div>

    </div>
}