﻿@model ProdoctWebApp.Models.DoctorAddModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Add Doctor</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("DoctorAdd", "Settings", null, new AjaxOptions
                        {
                            OnBegin = "pr.settings.doctor.add.before",
                            OnSuccess = "pr.settings.doctor.add.after",
                            OnFailure = "pr.settings.doctor.add.error"
                        }, new { @class = "form-horizontal", id = "addDoctorForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">
                
                <div class="form-group">
                    <label for="add_DoctorName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { id = "add_DoctorName", placeholder = "Name", @class = "form-control focus-on-load" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_DoctorTitle" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Title, new { id = "add_DoctorTitle", placeholder = "Title", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_DoctorEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Email, new { id = "add_DoctorEmail", placeholder = "Email", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_DoctorMobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Mobile, new { id = "add_DoctorMobile", placeholder = "Mobile", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_CalendarColor" class="col-sm-2 control-label">Calendar Color</label>
                    <div class="col-sm-10">
                        <div class="input-group calendar-color">
                            @Html.TextBoxFor(x => x.CalendarColor, new { id = "add_CalendarColor", placeholder = "Calendar Color", @class = "form-control" })
                            <span class="input-group-addon"><i></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_DoctorAllowLogin" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.AllowLogin, new { id = "add_DoctorAllowLogin" })
                                Allow user to log in
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnAddDoctor" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Add Doctor
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>