﻿@model ProdoctWebApp.Models.PracticeSettingsModel

<ul class="nav nav-tabs single-tab-heading">
    <li role="presentation"><a class="heading">Practice Profile</a></li>
</ul>

@using (Ajax.BeginForm("PracticeProfile", "Settings", null, new AjaxOptions
                        {
                            OnBegin = "pr.settings.practice.before",
                            OnSuccess = "pr.settings.practice.after",
                            OnFailure = "pr.settings.practice.error"
                        }, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal-fixed padding">
        <div class="form-group">
            <label for="PracticeName" class="col-sm-2 control-label">Practice Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { id = "PracticeName", placeholder = "Practice Name", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="PracticeEmail" class="col-sm-2 control-label">Practice Email</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Email, new { id = "PracticeEmail", placeholder = "Practice Email", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="PracticeContactNumber" class="col-sm-2 control-label">Contact Number</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.ContactNumber, new { id = "PracticeContactNumber", placeholder = "Practice Contact Number", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="PracticeWebsite" class="col-sm-2 control-label">Practice Website</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Website, new { id = "PracticeWebsite", placeholder = "Practice Website", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="PracticeTimezone" class="col-sm-2 control-label">Timezone</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.Timezone, Model.AllTimezones, new { id = "PracticeTimezone", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnUpdatePracticeProfile" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update
                </button>
            </div>
        </div>
    </div>
}