﻿
@if (!ViewBag.IsVerified)
{
    <div class="alert alert-warning notice">A verification email has been sent to you. Please verify your email Id to proceed.</div>
}
else if (ViewBag.NoPractice)
{
    <div class="alert alert-warning notice">Your account does not seem to be associated with any Practice.</div>
}
else if (!ViewBag.AllowLogin)
{
    <div class="alert alert-warning notice">Your login to this Practice has been disabled by an Administrator.</div>
}
else if (!ViewBag.HasAccepted)
{
    <div class="alert alert-warning notice">You have a pending invitation you're yet to accept</div>
}

<div role="tabpanel" class="tabs-container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#myinfo" aria-controls="myinfo" role="tab" data-toggle="tab"
               data-get="/Settings/MyInfo" data-target="#myinfo">My Info</a>
        </li>
        <li role="presentation">
            <a href="#password" aria-controls="password" role="tab" data-toggle="tab"
               data-get="/Settings/ChangePassword" data-target="#password">Change Password</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in padding" id="myinfo"></div>
        <div role="tabpanel" class="tab-pane fade padding" id="password"></div>
    </div>
</div>