﻿@model ProdoctWebApp.Models.MyInfoModel

@using (Ajax.BeginForm("MyInfo", "Settings", null, new AjaxOptions
                        {
                            OnBegin = "pr.settings.myInfo.before",
                            OnSuccess = "pr.settings.myInfo.after",
                            OnFailure = "pr.settings.myInfo.error"
                        }, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal-fixed">
        
        <div class="form-group">
            <label for="MyName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { id = "MyName", placeholder = "My Name", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="MyEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Email, new { id = "MyEmail", placeholder = "My Email", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="MyMobile" class="col-sm-2 control-label">Mobile</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Mobile, new { id = "MyMobile", placeholder = "My Mobile", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnUpdateMyInfo" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update
                </button>
            </div>
        </div>
    </div>
}