﻿@model ProdoctWebApp.Models.ChangePasswordModel

@using (Ajax.BeginForm("ChangePassword", "Settings", null, new AjaxOptions
                        {
                            OnBegin = "pr.settings.password.before",
                            OnSuccess = "pr.settings.password.after",
                            OnFailure = "pr.settings.password.error"
                        }, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal-fixed">

        <div class="form-group">
            <label for="CurrentPassword" class="col-sm-2 control-label">Current Password</label>
            <div class="col-sm-10">
                @Html.PasswordFor(x => x.CurrentPassword, new { placeholder = "Current Password", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="NewPassword" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-10">
                @Html.PasswordFor(x => x.NewPassword, new { placeholder = "New Password", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
                @Html.PasswordFor(x => x.ConfirmPassword, new { placeholder = "Confirm New Password", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnChangePassword" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Change
                </button>
            </div>
        </div>
    </div>
}