﻿@model ProdoctWebApp.Models.StaffListModel

<tr class="staff-row modal-link" data-modal="editStaffContainer"
    data-get="/Settings/StaffEdit/@Model.Id" data-target="#editStaffContainer"
    data-loading-message="Loading @Model.Name ..."
    data-broadcast-on-load="StaffEditLoaded">
    <td class="name">@Model.Name</td>
    <td>@Model.Title</td>
    <td>@Model.Privileges</td>
    <td>@Html.Partial("_StaffRowCellLastLogin", Model)</td>
</tr>