﻿@model ProdoctWebApp.Models.StaffListModel

<tr class="staff-row modal-link doctor" data-modal="editStaffContainer"
    data-get="/Settings/DoctorEdit/@Model.Id" data-target="#editStaffContainer"
    data-loading-message="Loading @Model.Name ..."
    data-broadcast-on-load="DoctorEditLoaded">
    <td class="name" title="Doctor">@Model.Name</td>
    <td>@Model.Title</td>
    <td>@Model.Privileges</td>
    <td>@Html.Partial("_StaffRowCellLastLogin", Model)</td>
</tr>