﻿@using ProdoctCommon.Data;
@model List<ProdoctWebApp.Models.StaffListModel>

<div class="single-tab-heading">
    <ul class="nav nav-tabs">
        <li role="presentation"><a class="heading">Practice Staff</a></li>
    </ul>

    <div class="options">
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Add <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>
                    <a class="modal-link" data-modal="addStaffContainer"
                       data-target="#addStaffContainer" data-get="/Settings/DoctorAdd"
                       data-loading-message="Loading Add Doctor ..."
                       data-broadcast-on-load="doctorAddLoaded">Doctor</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="modal-link" data-modal="addStaffContainer"
                       data-target="#addStaffContainer" data-get="/Settings/StaffAdd"
                       data-loading-message="Loading Add Staff ...">Staff</a>
                </li>            
            </ul>
        </div>
    </div>
</div>

<div class="padding">
    <table class="table table-hover table-staff">
        <thead>
            <tr>
                <th class="name">Name</th>
                <th>Title</th>
                <th>Privileges</th>
                <th>Last Login</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var staff in Model)
            {
                if(staff.Role == StaffRole.Staff)
                {
                    @Html.Partial("_StaffRow", staff)
                }
                else if (staff.Role == StaffRole.Doctor)
                {
                    @Html.Partial("_StaffRowDoctor", staff)
                }
            }
        </tbody>
    </table>
</div>