﻿@model ProdoctWebApp.Models.StaffAddModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Add Staff</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("StaffAdd", "Settings", null, new AjaxOptions
                        {
                            OnBegin = "pr.settings.staff.add.before",
                            OnSuccess = "pr.settings.staff.add.after",
                            OnFailure = "pr.settings.staff.add.error"
                        }, new { @class = "form-horizontal", id = "addStaffForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">
                
                <div class="form-group">
                    <label for="add_StaffName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { id = "add_StaffName", placeholder = "Name", @class = "form-control focus-on-load" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_StaffTitle" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Title, new { id = "add_StaffTitle", placeholder = "Title", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_StaffEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Email, new { id = "add_StaffEmail", placeholder = "Email", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_StaffMobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Mobile, new { id = "add_StaffMobile", placeholder = "Mobile", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_AllowLogin" class="col-sm-2 control-label">Login</label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(x => x.AllowLogin, new { id = "add_AllowLogin" })
                                Allow user to log in
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnAddStaff" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Add Staff
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>