﻿@model ProdoctWebApp.Models.StaffEditModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>@Model.Name</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">

        <div role="tabpanel" class="tabs-container padding">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a id="staffBasicsTabLink" href="#staffbasics" aria-controls="staffbasics" 
                       role="tab" data-toggle="tab" data-get="/Settings/StaffBasics/@Model.Id" 
                       data-target="#staffbasics" data-fire-change="false"
                       data-broadcast-on-load="staffBasicInfoLoaded">Basic Info</a>
                </li>
                <li role="presentation">
                    <a id="staffPrivilegesTabLink" href="#staffprivileges" aria-controls="staffprivileges" 
                       role="tab" data-toggle="tab" data-get="/Settings/StaffPrivileges/@Model.Id" 
                       data-target="#staffprivileges" data-fire-change="false">Privileges</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active fade in" id="staffbasics"></div>
                <div role="tabpanel" class="tab-pane fade" id="staffprivileges"></div>
            </div>
        </div>

    </div>
</div>