﻿@model ProdoctWebApp.Models.StaffListModel

@if (!Model.AllowLogin)
{
    <div class="alert alert-danger" title="User login isn't allowed">
        Login Disabled
    </div>
}
else if (!Model.HasAccepted)
{
    <div class="alert alert-warning" title="User hasn't accepted the invitation yet">
        Not Verified
    </div>
}
else
{
    @Model.LastLogin
}