﻿@model ProdoctWebApp.Models.StaffBasicsModel

@using (Ajax.BeginForm("StaffBasics", "Settings", null, new AjaxOptions
                {
                    OnBegin = "pr.settings.staff.editBasics.before",
                    OnSuccess = "pr.settings.staff.editBasics.after",
                    OnFailure = "pr.settings.staff.editBasics.error"
                }, new { @class = "form-horizontal" }))
{
    <div class="form-horizontal-fixed col-sm-8 padding">
                
        @Html.HiddenFor(x => x.Id)

        <div class="form-group">
            <label for="edit_StaffName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Name, new { id = "edit_StaffName", placeholder = "Name", @class = "form-control focus-on-load" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_StaffTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Title, new { id = "edit_StaffTitle", placeholder = "Title", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_StaffEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                @if (Model.IsSelf)
                {
                    @Html.TextBoxFor(x => x.Email, new { id = "edit_StaffEmail", placeholder = "Email", @class = "form-control", @readonly = true })
                }
                else
                {
                    @Html.TextBoxFor(x => x.Email, new { id = "edit_StaffEmail", placeholder = "Email", @class = "form-control" })   
                }
            </div>
        </div>

        <div class="form-group">
            <label for="edit_StaffMobile" class="col-sm-2 control-label">Mobile</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Mobile, new { id = "edit_StaffMobile", placeholder = "Mobile", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="edit_AllowLogin" class="col-sm-2 control-label">Login</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label>
                        @if(Model.IsSelf)
                        {
                        @Html.CheckBoxFor(x => x.AllowLogin, new { id = "edit_AllowLogin", disabled = true })
                        }
                        else
                        { 
                        @Html.CheckBoxFor(x => x.AllowLogin, new { id = "edit_AllowLogin" })
                        }
                        Allow user to log in
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10 btn-container">
                <button id="btnStaffBasics" type="submit"
                        class="btn btn-success btn-block submitter"
                        data-remove-on-submit="btn-success"
                        data-add-on-submit="btn-default">
                    Update
                </button>
            </div>
        </div>

        @if(!Model.IsSelf)
        {
        <div class="form-group">
            <div id="staffMoreOptionsContainer" class="col-sm-12 more-options-container">
                <div class="more-options">
                    <label>Options:</label>
                    <button id="deleteStaff" class="delete-staff btn-link submitter">Delete Permanently</button>
                </div>
            </div>
        </div>
        }
    </div>
}