﻿@{
    ViewBag.Title = "Settings";
}

<div class="content-with-sidebar left">
    <div class="content">
        <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active fade in" id="profile"
                 data-get="/Settings/MyInfo" data-target="#myinfo" data-prevent-click-load="true"></div>

            <div role="tabpanel" class="tab-pane fade" id="practice"></div>

            <div role="tabpanel" class="tab-pane fade" id="calendar"></div>

            <div role="tabpanel" class="tab-pane fade" id="staff"></div>
        </div>

        <div id="addStaffContainer" class="pr-modal modal-full"></div>
        <div id="editStaffContainer" class="pr-modal modal-full"></div>

    </div>
    <div class="sidebar">
        <div role="tabpanel" class="tabs-container">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" class="active">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"
                       data-get="/Settings/MyProfile" data-target="#profile">My Profile</a>
                </li>
                @if (!ViewBag.SettingsOnly)
                { 
                    if(ViewBag.Privileges.AppointmentsRead)
                    {
                    <li role="presentation">
                        <a href="#calendar" aria-controls="calendar" role="tab" data-toggle="tab"
                           data-get="/Settings/Calendar" data-target="#calendar">Calendar Settings</a>
                    </li>
                    }
                    if(ViewBag.Privileges.IsAdmin)
                    { 
                    <li role="presentation">
                        <a href="#practice" aria-controls="practice"role="tab" data-toggle="tab"
                           data-get="/Settings/PracticeProfile" data-target="#practice">Practice Profile</a>
                    </li>
                    <li role="presentation">
                        <a href="#staff" aria-controls="staff" role="tab" data-toggle="tab"
                           data-get="/Settings/Staff" data-target="#staff">Practice Staff</a>
                    </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

@section css
{
    @Styles.Render("~/bundles/css/settings")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/settings")
}