﻿@{
    Layout = "../Shared/_LayoutAnonymous.cshtml";
}

<div class="bg"></div>

<div class="pitch">
    <div class="pitch-bg"></div>
    <div class="heading">
        Practice Management Simplified
    </div>
    <div class="description">
        Appointments<span class="dot">.</span>
        Reminders<span class="dot">.</span>
        Inventory<span class="dot">.</span>
        Finance
    </div>
</div>

<div class="box-container">
    <div class="box-header">
        <span class="paren">{</span><h3>prodoc</h3><span class="paren">}</span>
        <div class="tagline">practice management simplified</div>
    </div>
    <div class="box-content-container">
        <div class="box-content">
            @RenderBody()
        </div>
    </div>
</div>

<footer>
    <nav>
        <a href="#">Privacy</a>
        <a href="#">Terms of service</a>
        <a href="mailto:mail@prodoc.in">mail@prodoc.in</a>
        <a class="img-link twitter" href="https://twitter.com/ProdocIn" target="_blank"></a>
    </nav>
    <p class="copyright">&copy; 2015 Prodoc. All rights reserved.</p>
</footer>

@section scripts 
{
    @RenderSection("scripts", required: false)
}

@section css
{
    <link href="~/Content/css/account/account.css" rel="stylesheet" />
    @RenderSection("css", required: false)
}
