﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Partial("_WebFonts")
    <title>@ViewBag.Title {prodoc}</title>
    @Styles.Render("~/bundles/css/plugins")
    @Scripts.Render("~/bundles/js/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    
    @Html.Partial("_Menu")
    
    <div class="content-container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/js/plugins")
    @RenderSection("scripts", required: false)
</body>
</html>
