﻿<div class="menu">

    @{
        var title = ViewBag.LogoTitle ?? "prodoc";
        var clss = title.Length < 16 ? "prodoc" : string.Empty;
    }

    <a href="@Url.RouteUrl(RouteName.Appointments)" class="menu-logo @clss">@title</a>

    <ul class="menu-nav">
        @if (ViewBag.SettingsOnly == false)
        {
            if (ViewBag.Privileges.AppointmentsRead)
            { 
                <li><a id="navAppointments" href="@Url.RouteUrl(RouteName.Appointments)">Appointments</a></li>
            }
            if (ViewBag.Privileges.PatientsRead)
            {
                <li><a id="navPatients" href="@Url.RouteUrl(RouteName.Patients)">Patients</a></li>
            }
            if (ViewBag.Privileges.InventoryRead)
            {
                <li><a id="navInventory" href="@Url.RouteUrl(RouteName.Inventory)">Inventory</a></li>
            }
            if (ViewBag.Privileges.FinanceRead)
            {
                <li><a id="navFinance" href="@Url.RouteUrl(RouteName.Finance)">Finance</a></li>
            }
        }
        
        <li class="dropdown">
            <a id="navSettings" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-cog dropdown-toggle"></span>
            </a>
            <ul id="settingsDropdown" class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a href="@Url.RouteUrl("Settings")">Settings</a></li>
                <li class="divider"></li>
                <li><a href="@Url.RouteUrl("Logout")">Sign out</a></li>
            </ul>
        </li>
    </ul>

    <div class="clear"></div>

</div>