﻿@model ProdoctWebApp.Models.AddAppointmentModel

<div id="addAppointmentContainer" class="pr-modal modal-full">

    <div class="pr-modal-content">
        <div class="pr-modal-header">
            <div class="pr-modal-header-content">
                <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
                <div class="pr-modal-title"><h3>Add Appointment</h3></div>
            </div>
        </div>
        <div class="pr-modal-body">
            @using (Ajax.BeginForm("Add", "Appointments", null, new AjaxOptions
                        {
                            OnBegin = "pr.appointments.add.before",
                            OnSuccess = "pr.appointments.add.after",
                            OnFailure = "pr.appointments.add.error"
                        }, new { @class = "form-horizontal" }))
            {
                <div class="form-horizontal-fixed col-sm-8">
                    <div class="form-group">
                        <label for="add_AppointmentDate" class="col-sm-2 control-label">Date / Time</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AppointmentDate, new { id = "add_AppointmentDate", placeholder = "Appointment Date / Time", 
                                                                           data_date_format = "D MMM, YYYY - h:mm A", @readonly = true, 
                                                                           @class = "form-control datetimepicker" })
                        </div>
                    </div>

                    <div class="patient-input form-group">
                        <div class="form-group">
                            <label for="add_PatientName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.PatientName, new { id = "add_PatientName", placeholder = "Patient's Name", @class = "form-control focus-on-load patient-name-input" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add_PatientMobile" class="col-sm-2 control-label">Mobile</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.PatientMobile, new { id = "add_PatientMobile", placeholder = "Patient's Mobile", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add_PatientLocality" class="col-sm-2 control-label">Locality</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.PatientLocality, new { id = "add_PatientLocality", placeholder = "Patient's Locality", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                
                    <div class="patient-summary form-group">
                    
                        @Html.HiddenFor(x => x.PatientId, new { @class = "patient-id" })

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Patient</label>
                            <div class="col-sm-10">
                                <div id="add_patientSummary" class="form-control patient-summary-content">
                                    <div class="patient-name"></div>
                                    <div class="patient-locality"></div>
                                    <div class="patient-mobile"></div>
                                    <span class="glyphicon glyphicon-remove patient-change" title="Change"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="add_DoctorId" class="col-sm-2 control-label">Doctor</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "add_DoctorId", @class = "form-control doctor-id" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="add_AppointmentNotes" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.AppointmentNotes, new { id = "add_AppointmentNotes", placeholder = "Appointment Notes", @class = "form-control", rows = 3 })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10 btn-container">
                            <button id="btnAddAppointment" type="submit" 
                                    class="btn btn-success btn-block submitter"
                                    data-remove-on-submit="btn-success"
                                    data-add-on-submit="btn-default">Save</button>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>

</div>