﻿@model ProdoctWebApp.Models.EditAppointmentModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Manage Appointment</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("Edit", "Appointments", null, new AjaxOptions
                    {
                        OnBegin = "pr.appointments.edit.before",
                        OnSuccess = "pr.appointments.edit.after",
                        OnFailure = "pr.appointments.edit.error"
                    }, new { @class = "form-horizontal" }))
            {
            <div id="editAppointmentForm">

                <div class="form-horizontal-fixed col-sm-8">

                    @Html.HiddenFor(x => x.AppointmentId)

                    <div class="form-group">
                        <label for="edit_AppointmentDate" class="col-sm-2 control-label">Date / Time</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.AppointmentDate, new {
                                                                               id = "edit_AppointmentDate",
                                                                               placeholder = "Appointment Date / Time",
                                                                               data_date_format = "D MMM, YYYY - h:mm A",
                                                                               @readonly = true,
                                                                               @class = "form-control datetimepicker"
                                                                             })
                        </div>
                    </div>

                    <div class="patient-summary show form-group">

                        @Html.HiddenFor(x => x.PatientId)

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Patient</label>
                            <div class="col-sm-10">
                                <div id="edit_patientSummary" class="form-control patient-summary-content">
                                    <div class="patient-name">@Model.PatientName</div>
                                    <div class="patient-locality">@Model.PatientLocality</div>
                                    <div class="patient-mobile">@Model.PatientMobile</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="edit_DoctorId" class="col-sm-2 control-label">Doctor</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "edit_DoctorId", @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="edit_AppointmentNotes" class="col-sm-2 control-label">Notes</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(x => x.AppointmentNotes, new { id = "edit_AppointmentNotes", placeholder = "Appointment Notes", @class = "form-control", rows = 3 })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10 btn-container">
                            <button id="btnEditAppointment" type="submit"
                                    class="btn btn-success btn-block submitter"
                                    data-remove-on-submit="btn-success"
                                    data-add-on-submit="btn-default">
                                Update
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 more-options-container">
                            <div class="more-options">
                                <label>Options:</label>
                                <button id="issueMedicine" class="issue-medicine btn-link submitter">Issue Medicine</button>
                                <a href="/fees/@Model.AppointmentId" class="add-fees btn-link submitter" target="_blank">Add Fees</a>
                                @if (Model.IsCanceled)
                                {
                                <button id="confirmAppointment" class="confirm-appointment btn-link submitter">Confirm</button>
                                }
                                else
                                {
                                <button id="cancelAppointment" class="cancel-appointment btn-link submitter">Cancel</button>
                                }
                                <button id="deleteAppointment" class="delete-appointment btn-link submitter">Delete</button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 medicines-list-container">
                            <div class="medicines-list">
                                <span class="glyphicon glyphicon-remove-circle medicines-list-close"></span>
                                <div class="medicines-list-content">

                                </div>
                            </div>
                            <div class="medicines-connector"></div>
                        </div>
                    </div>

                </div>
            </div>
            }
    </div>

</div>