﻿@using ProdoctWebApp.Models;
@model AppointmentIndexModel

@{
    ViewBag.Title = "Appointments";
}

<div class="content-with-sidebar">
    <div class="content">
        <div id="calendarContainer">
            <div id="calendar"></div>
        </div>
    </div>
    <div class="sidebar">
        @if(ViewBag.Privileges.AppointmentsWrite)
        { 
        <div class="right">
            <button type="button" class="btn btn-block btn-success big-btn add-appointment modal-link" data-modal="addAppointmentContainer">Add Appointment</button>
        </div>
        }
        
        <div class="collapsible expanded right">
            <div class="collapsible-header">
                Doctors
                <span class="collapsible-icon collapsed glyphicon glyphicon-chevron-down" aria-label="Expand"></span>
                <span class="collapsible-icon expanded glyphicon glyphicon-chevron-up" aria-label="Collapse"></span>
            </div>
            <div class="collapsible-content">
                <div id="doctorsStats" class="list-items with-badge">
                </div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

    @if(ViewBag.Privileges.AppointmentsWrite)
    {
    @Html.Partial("_Add", Model.AddModel)
    }
    
    <div id="editAppointmentContainer" class="pr-modal modal-full"></div>
</div>

@section css
{
@Styles.Render("~/bundles/css/appointments")
}

@section scripts
{
@Scripts.Render("~/bundles/js/appointments")
}