﻿@model ProdoctWebApp.Models.ExpenseAddModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Add Expense</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("Add", "Expenses", null, new AjaxOptions
                        {
                            OnBegin = "pr.finance.expenses.add.before",
                            OnSuccess = "pr.finance.expenses.add.after",
                            OnFailure = "pr.finance.expenses.add.error"
                        }, new { @class = "form-horizontal", id = "addExpenseForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">

                <div class="form-group">
                    <label for="add_ExpenseCategory" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Category, Model.AllCategories, new { id = "add_ExpenseCategory", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ExpenseDate" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Date, new { id = "add_ExpenseDate", placeholder = "Date", @class = "form-control datepicker", @readonly = true })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ExpenseAmount" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Amount, new { htmlAttributes = new { @class = "form-control focus-on-load", id = "add_ExpenseAmount", placeholder = "Amount" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ExpenseMode" class="col-sm-2 control-label">Mode</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Mode, Model.AllModes, new { id = "add_ExpenseMode", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_ExpenseNotes" class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Notes, new { id = "add_ExpenseNotes", placeholder = "Notes", @class = "form-control", rows = 3 })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnAddExpense" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Add Expense
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>