﻿@model ProdoctWebApp.Models.ExpensesListModel

@if (Model.Expenses.Count == 0)
{
    <tr>
        <td class="no-more-results-container" colspan="4">
            <span class="no-more-results">End of list</span>
        </td>
    </tr>
}
else
{

    foreach (var expense in Model.Expenses)
    {
        <tr class="income modal-link" data-id="@expense.Id"
            data-modal="editExpenseContainer" data-target="#editExpenseContainer"
            data-get="/Expenses/Edit/@expense.Id"
            data-loading-message="Loading Expense Record ..."
            data-broadcast-on-load="expenseEditFormLoaded">

            <td class="expense-date">@expense.Date</td>
            <td class="expense-mode">@expense.Mode</td>
            <td class="expense-amount">@expense.Amount</td>
            <td class="expense-category">@expense.Category</td>

        </tr>
    }

    if (Model.MoreExist)
    {
        <tr class="get-more-container next-set">
            <td colspan="4">
                <button id="expensesGetMore" class="btn btn-default get-more" data-skip="@Model.Skip">Get more</button>
            </td>
        </tr>
    }
}