﻿@model ProdoctWebApp.Models.ReportsModel

<div class="report-header clearfix">

    <div class="report-selector">
        <select id="reportSelector" class="form-control ajax-getter">
            @foreach (var report in Model.AllReports)
            {
                <option value="@report.Text"
                        data-get="@report.Get"
                        data-data-function="finance.getReportParams"
                        data-target="#reportContainer"
                        data-loading-message="Loading @report.Text report ..."
                        data-broadcast-on-load="reportLoaded"
                        @(report.Selected ? "selected" : string.Empty)>
                    @report.Text
                </option>
            }
        </select>

    </div>

    <div class="report-duration">
        <span class="glyphicon glyphicon-chevron-left stepper previous"></span>
        <div class="input-daterange input-group" id="datepicker">
            @Html.TextBoxFor(x => x.Start, new { name = "start", @class = "input-sm form-control start", @readonly = true })
            <span class="input-group-addon">to</span>
            @Html.TextBoxFor(x => x.End, new { name = "end", @class = "input-sm form-control end", @readonly = true })
        </div>
        <span class="glyphicon glyphicon-chevron-right stepper next"></span>
    </div>

</div>

<div id="reportContainer" class="report-container"></div>