.collapsible {
  position: relative;
  text-align: left;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.1); }
  .collapsible .collapsible-header {
    padding: 8px 0 8px 28px;
    background: #CBE9FA;
    cursor: pointer; }
    .collapsible .collapsible-header .collapsible-icon {
      position: absolute;
      top: 10px;
      right: 14px;
      font-size: 10px;
      color: #999; }
      .collapsible .collapsible-header .collapsible-icon.collapsed {
        display: none; }
    .collapsible .collapsible-header:hover {
      background: #C0E7FD; }
  .collapsible .collapsible-content {
    background: #FDFDFD;
    height: 100%;
    min-height: 60px; }
    .collapsible .collapsible-content .list-items {
      padding: 25px 15px 20px 15px; }
      .collapsible .collapsible-content .list-items.with-badge .list-item {
        display: block;
        padding-right: 4px; }
    .collapsible .collapsible-content .list-item {
      padding: 5px 14px 3px 13px;
      font-size: .9em;
      margin: 5px 0 10px 0;
      cursor: pointer;
      display: inline-block; }
      .collapsible .collapsible-content .list-item .badge {
        float: right;
        background: #BCC8CF; }
      .collapsible .collapsible-content .list-item:hover, .collapsible .collapsible-content .list-item.active {
        background: #eee;
        border-radius: 20px;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3); }
  .collapsible.collapsed {
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2); }
    .collapsible.collapsed .collapsible-header .collapsible-icon.collapsed {
      display: block; }
    .collapsible.collapsed .collapsible-header .collapsible-icon.expanded {
      display: none; }
    .collapsible.collapsed .collapsible-content {
      display: none; }

