.collapsible {
    position: relative;
    text-align: left;
    box-shadow: 0 0 3px 0px rgba(0,0,0,.1);
    
    .collapsible-header {
        padding: 8px 0 8px 28px;
        background: #CBE9FA;
        cursor: pointer;

        .collapsible-icon {
            position: absolute;
            top: 10px;
            right: 14px;
            font-size: 10px;
            color: #999;

            &.collapsed {
                display: none;
            }
        }

        &:hover {
            background: #C0E7FD;
        }

    }

    .collapsible-content {
        background: #FDFDFD;
        height: 100%;
        min-height: 60px;

        .list-items {
            padding: 25px 15px 20px 15px;

            &.with-badge {
                .list-item {
                    display: block;
                    padding-right: 4px;
                }
            }
        }

        .list-item {
            padding: 5px 14px 3px 13px;
            font-size: .9em;
            margin: 5px 0 10px 0;
            cursor: pointer;
            display: inline-block;

            .badge {
                float: right;
                background: #BCC8CF;
            }

            &:hover, &.active {
                background: #eee;
                border-radius: 20px;
                box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.3);
            }
        }
    }

    &.collapsed {
        box-shadow: 0 0 1px 0 rgba(0,0,0,.2);

        .collapsible-header {
            .collapsible-icon {
                &.collapsed {
                    display: block;
                }

                &.expanded {
                    display: none;
                }
            }
        }

        .collapsible-content {
            display: none;
        }
    }
}