input[readonly].datetimepicker, input[readonly].datepicker {
    cursor: pointer;
    background-color: #fff;
}

.input-daterange {
    input {
        width: 100px !important;
        cursor: pointer !important;
        background: #fff !important;
    }
}