.flash {
  display: none;
  position: absolute;
  top: -8px;
  z-index: 10000;
  padding: 21px 20px 13px 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer; }
  .flash.loading {
    background: #ffff7b;
    cursor: default; }
  .flash.info {
    background: #CAECFF; }
  .flash.error {
    background: #DF4242;
    color: #fff; }
  .flash.success {
    background: #31BB1A;
    color: #fff; }

.single-message {
  text-align: center; }

