.flash {
    display: none;
    position: absolute;
    top: -8px;
    z-index: 10000;
    padding: 21px 20px 13px 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;

    &.loading {
        background: rgb(255, 255, 123);
        cursor: default;
    }

    &.info {
        background: #CAECFF;
    }

    &.error {
        background: #DF4242;
        color: #fff;
    }

    &.success {
        background: #31BB1A;
        color: #fff;
    }
}

.single-message {
    text-align: center;
}