.form-horizontal-fixed {
  padding-bottom: 35px;
  width: 100%; }
  .form-horizontal-fixed .form-group label {
    width: 140px; }
  .form-horizontal-fixed .form-group .col-sm-10 {
    width: 320px; }
  .form-horizontal-fixed .btn-link[disabled] {
    color: #bbb; }
  .form-horizontal-fixed.padding {
    padding: 40px 20px; }
  .form-horizontal-fixed .checkbox {
    display: inline-block; }
    .form-horizontal-fixed .checkbox label {
      width: auto !important; }

input, button, select, textarea {
  max-width: 320px; }

.more-options-container {
  margin-top: 35px; }

.more-options {
  background: #f5f5f5;
  padding: 10px 15px 5px 15px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-top: 1px solid #ccc;
  border-radius: 4px; }
  .more-options label {
    width: auto !important; }
  .more-options > .btn-link {
    padding: 0 12px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    margin-top: 0 !important; }
    .more-options > .btn-link:last-child {
      border-right: 0;
      padding-right: 0; }

