@import "variables";

.form-horizontal-fixed {
    padding-bottom: 35px;
    width: 100%;

    .form-group {
        label {
            width: $form-horizontal-fixed-label-width;
        }

        .col-sm-10 {
            width: $form-horizontal-fixed-field-width;
        }
    }

    .btn-link[disabled] {
        color: #bbb;
    }

    &.padding {
        padding: 40px 20px;
    }

    .checkbox {
        display: inline-block;

        label {
            width: auto !important;
        }
    }
}

input, button, select, textarea {
    max-width: $max-input-width;
}

.more-options-container {
    margin-top: 35px;
}

.more-options {
    background: #f5f5f5;
    padding: 10px 15px 5px 15px;
    font-size: 0.9em;
    border: 1px solid #ddd;
    border-top: 1px solid #ccc;
    border-radius: 4px;

    label {
        width: auto !important;
    }

    & > .btn-link {
        padding: 0 12px;
        cursor: pointer;
        border-right: 1px solid #ccc;
        margin-top: 0 !important;

        &:last-child {
            border-right: 0;
            padding-right: 0;
        }
    }
}