.no-more-results-container {
    text-align: center;
    width: 100%;
    clear: both;
    padding-top: 60px !important;
    border-bottom: 1px dashed #C5C5C5;
    position: relative;

    .no-more-results {
        width: 90px;
        height: 30px;
        position: absolute;
        top: 50px;
        background: #fff;
        left: 50%;
        margin-left: -45px;
        line-height: 38px;
    }
}

tr.get-more-container {
    td {
        text-align: center;
        padding: 0 !important;
    }

    button {
        display: inline-block;
        width: 100%;
        max-width: none;
        border-color: #eee;
        padding: 10px 12px;
        background: #f5f5f5;

        &:hover {
            background: #eee;
            border-color: #eee;
        }
    }

    .rows-loading {
        padding: 10px 12px;
        font-weight: bold;
    }
}

tr {
    td {
        position: relative;
    }

    .delete-row {
        display: none;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }

    &:hover {
        .delete-row {
            display: block;
        }
    }
}