.menu {
  width: 100%;
  height: 45px;
  background: #4790d7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*form, ul, li, .menu-logo, a {
      height: 100%;
  }*/ }
  .menu .menu-logo {
    float: left;
    display: block;
    line-height: 40px;
    margin: 0 0 0 25px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif; }
    .menu .menu-logo.prodoc {
      font-size: 30px; }
  .menu > ul {
    float: right;
    margin: 0; }
    .menu > ul > li {
      display: inline-block;
      float: left;
      margin: 0;
      list-style: none; }
      .menu > ul > li > a {
        display: block;
        padding: 0 15px;
        line-height: 45px;
        color: #fff; }
        .menu > ul > li > a:hover, .menu > ul > li > a.active {
          background: #2fa4e7; }
  .menu a:hover {
    text-decoration: none; }

#navSettings {
  line-height: 45px;
  color: #fff;
  top: 0;
  font-size: 1.3em;
  border-left: 1px solid #2FA4E7;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  #navSettings:hover, #navSettings.active {
    background: #2fa4e7; }

#settingsDropdown {
  margin: -4px 0 0; }

