@import "variables";

.pr-modal {
    display: none;
    z-index: 9999;
}

.modal-link {
    cursor: pointer;
}

.modal-full {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;

    .pr-modal-content {
        width: 100%;
        height: 100%;
        background: #fff;
        position: relative;
        overflow: auto;
    }

    .pr-modal-header {
        position: fixed;
        top: $menu-height;
        left: 0;
        width: 100%;
        z-index: 999;

        .pr-modal-header-content {
            background: #fff;
            width: 100%;
            height: 55px;
            border-bottom: 1px solid #eee;
            z-index: 999;
        }

        .pr-modal-title {
            float: left;
            margin-top: 14px;
            margin-left: 20px;
            
            h3 {
                display: inline;
            }
        }

        .pr-modal-sub-title {
            margin: 0 15px;
        }

        .modal-close {
            float: right;
            margin-top: 12px;
            margin-right: 25px;
            font-size: 24px;
            cursor: pointer;
            color: #317eac;
        }
    }

    .pr-modal-body {
        padding-top: 95px;
        padding-bottom: 25px;

        width: 100%;
        background: #fff;

        .form-horizontal .form-group {
            margin-left: 0;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .padding {
            padding: 10px 40px;
        }
    }
}