.pr-modal {
  display: none;
  z-index: 9999; }

.modal-link {
  cursor: pointer; }

.modal-full {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998; }
  .modal-full .pr-modal-content {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    overflow: auto; }
  .modal-full .pr-modal-header {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 999; }
    .modal-full .pr-modal-header .pr-modal-header-content {
      background: #fff;
      width: 100%;
      height: 55px;
      border-bottom: 1px solid #eee;
      z-index: 999; }
    .modal-full .pr-modal-header .pr-modal-title {
      float: left;
      margin-top: 14px;
      margin-left: 20px; }
      .modal-full .pr-modal-header .pr-modal-title h3 {
        display: inline; }
    .modal-full .pr-modal-header .pr-modal-sub-title {
      margin: 0 15px; }
    .modal-full .pr-modal-header .modal-close {
      float: right;
      margin-top: 12px;
      margin-right: 25px;
      font-size: 24px;
      cursor: pointer;
      color: #317eac; }
  .modal-full .pr-modal-body {
    padding-top: 95px;
    padding-bottom: 25px;
    width: 100%;
    background: #fff; }
    .modal-full .pr-modal-body .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0; }
      .modal-full .pr-modal-body .form-horizontal .form-group:last-child {
        margin-bottom: 0; }
    .modal-full .pr-modal-body .padding {
      padding: 10px 40px; }

