.sidebar .nav-pills > li.active > a, .sidebar .nav-pills > li.active > a:hover, .sidebar .nav-pills > li.active > a:focus {
  color: #333;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  border-left: 4px solid #2fa4e7;
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: bold; }
.sidebar .tabs-container {
  padding: 20px 0; }
.sidebar .nav-pills > li > a {
  width: 93%;
  float: right;
  text-align: left;
  padding: 12px 30px; }

.tab-loading {
  text-align: center;
  padding: 25px 0; }

.tab-pane .padding, .tab-pane.padding {
  padding: 40px 20px; }

.single-tab-heading {
  position: relative; }
  .single-tab-heading .heading {
    font-size: 1.2em;
    cursor: default; }
    .single-tab-heading .heading:hover {
      background-color: transparent !important;
      border-color: transparent !important; }
  .single-tab-heading .options {
    position: absolute;
    right: 12px;
    top: 0; }

