﻿@model ProdoctWebApp.Models.LinkResponseModel
@{
    ViewBag.Title = Model.Heading ?? string.Empty;
    Layout = "../Shared/_LayoutBoxed.cshtml";
}

<div class="link-response">
    
    @if(!string.IsNullOrWhiteSpace(Model.Heading))
    { 
    <h3>@Model.Heading</h3>
    }
    
    @if(!string.IsNullOrWhiteSpace(Model.Message))
    { 
    <div class="support-message">
        @Html.Raw(Model.Message)
    </div>
    }
    
    <div class="link-options">
        <span>Return to: </span>
        <a href="http://prodoc.in">prodoc.in</a>
        <a href="@Url.RouteUrl(RouteName.Login)">app.prodoc.in</a>
    </div>
</div>

@section css
{
@Styles.Render("~/bundles/css/linkresponse")
}