﻿@model ProdoctWebApp.Models.SetPasswordModel
@{
    ViewBag.Title = "Set Password";
    Layout = "../Shared/_LayoutBoxed.cshtml";
}

@Html.ValidationSummary(true)

@using (Html.BeginForm("SetPassword", "Links"))
{
    @Html.HiddenFor(x => x.Code)
    
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", disabled = true })
        @Html.HiddenFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="NewPassword" class="control-label">New Password</label>
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="ConfirmPassword" class="control-label">Confirm Password</label>
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <button id="btnSetPassword" type="submit"
                class="btn btn-success btn-block submitter"
                data-remove-on-submit="btn-success"
                data-add-on-submit="btn-default">
            Set Password
        </button>
    </div>
}

@section css
{
    @Styles.Render("~/bundles/css/setpassword")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/setpassword")
}