.menu {
  width: 100%;
  height: 45px;
  background: #4790d7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /*form, ul, li, .menu-logo, a {
      height: 100%;
  }*/ }
  .menu .menu-logo {
    float: left;
    display: block;
    line-height: 40px;
    margin: 0 0 0 25px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Montserrat',sans-serif; }
    .menu .menu-logo.prodoc {
      font-size: 30px; }
  .menu > ul {
    float: right;
    margin: 0; }
    .menu > ul > li {
      display: inline-block;
      float: left;
      margin: 0;
      list-style: none; }
      .menu > ul > li > a {
        display: block;
        padding: 0 15px;
        line-height: 45px;
        color: #fff; }
        .menu > ul > li > a:hover, .menu > ul > li > a.active {
          background: #2fa4e7; }
  .menu a:hover {
    text-decoration: none; }

#navSettings {
  line-height: 45px;
  color: #fff;
  top: 0;
  font-size: 1.3em;
  border-left: 1px solid #2FA4E7;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
  #navSettings:hover, #navSettings.active {
    background: #2fa4e7; }

#settingsDropdown {
  margin: -4px 0 0; }

html, body {
  height: 100%; }

.clear {
  clear: both; }

.content-container {
  height: 100%;
  max-height: 100%;
  padding-top: 45px; }

.content-with-sidebar {
  width: 100%;
  height: 100%;
  padding-right: 280px;
  position: relative; }
  .content-with-sidebar .content {
    padding: 30px;
    padding-bottom: 15px;
    height: 100%;
    position: relative; }
  .content-with-sidebar .sidebar {
    background: #e2e2e2;
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 45px;
    text-align: center;
    box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.1) inset; }
    .content-with-sidebar .sidebar .right, .content-with-sidebar .sidebar .center {
      width: 85% !important;
      margin: 20px auto !important;
      display: inline-block; }
      .content-with-sidebar .sidebar .right:first-child, .content-with-sidebar .sidebar .center:first-child {
        margin-top: 30px !important; }
    .content-with-sidebar .sidebar .right {
      float: right; }
  .content-with-sidebar.left {
    padding-right: 0;
    padding-left: 280px; }
    .content-with-sidebar.left .sidebar {
      left: 0;
      right: auto;
      z-index: 998;
      box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.1) inset; }
    .content-with-sidebar.left .modal-full .pr-modal-header {
      padding-left: 280px; }

.content-with-sidebar .sidebar .collapsible {
  width: 80%;
  margin: 20px auto; }

.has-feedback-left input {
  padding: 6px 12px 6px 38px !important; }
.has-feedback-left .form-control-feedback {
  right: auto;
  left: 0; }

.list-group-horizontal .list-group-item {
  display: inline-block; }

.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left: -4px;
  margin-right: 0; }

.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px; }

.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0; }

