@import "common/menu";
@import "common/variables";

html, body {
    height: 100%;
}

.clear {
    clear: both;
}

.content-container {
    height: 100%;
    max-height: 100%;
    padding-top: $menu-height;
}

.content-with-sidebar {
    width: 100%;
    height: 100%;
    padding-right: $sidebar-width;
    position: relative;

    .content {
        padding: 30px;
        padding-bottom: 15px;
        height: 100%;
        position: relative;
    }

    .sidebar {
        background: #e2e2e2;
        width: $sidebar-width;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: $menu-height;
        text-align: center;
        box-shadow: 1px 0 2px 0 rgba(0,0,0,.1) inset;

        .right, .center {
            width: 85% !important;
            margin: 20px auto !important;
            display: inline-block;

            &:first-child {
                margin-top: 30px !important;
            }
        }

        .right {
            float: right;
        }
    }

    &.left {
        padding-right: 0;
        padding-left: $sidebar-width;

        .sidebar {
            left: 0;
            right: auto;
            z-index: 998;
            box-shadow: -1px 0 4px 0 rgba(0,0,0,.1) inset;
        }

        .modal-full {
            .pr-modal-header {
                padding-left: $sidebar-width;
            }
        }
    }
}

.content-with-sidebar .sidebar .collapsible {
    width: 80%;
    margin: 20px auto;
}

.has-feedback-left {
    input {
        padding: 6px 12px 6px 38px !important;
    }

    .form-control-feedback {
        right: auto;
        left: 0;
    }
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
	margin-bottom: 0;
	margin-left:-4px;
	margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
	border-top-right-radius:0;
	border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
	border-top-right-radius:4px;
	border-bottom-left-radius:0;
}