﻿
@{
    ViewBag.Title = "Finance";
}

<div class="content-with-sidebar">
    <div class="content">
        
        <div id="profitabilityReportsContainer" class="pr-modal modal-full"></div>
        <div id="incomeReportsContainer" class="pr-modal modal-full"></div>
        <div id="expensesReportsContainer" class="pr-modal modal-full"></div>

    </div>
    <div class="sidebar">
        @if (ViewBag.Privileges.FinanceWrite)
        {
            <div class="right btn-group">
                <button type="button" class="btn btn-block btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right add-menu" role="menu">
                    <li>
                        <a class="modal-link" data-modal="addIncomeContainer"
                           data-target="#addIncomeContainer" data-get="/Income/Add"
                           data-loading-message="Loading Add Income ..."
                           data-broadcast-on-load="addIncomeLoaded">Income</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="modal-link" data-modal="addExpenseContainer"
                           data-target="#addExpenseContainer" data-get="/Expenses/Add"
                           data-loading-message="Loading Add Expense ..."
                           data-broadcast-on-load="addExpenseLoaded">Expense</a>
                    </li>
                </ul>
            </div>
        }

        <div class="collapsible expanded right">
            <div class="collapsible-header">
                Reports
                <span class="collapsible-icon collapsed glyphicon glyphicon-chevron-down" aria-label="Expand"></span>
                <span class="collapsible-icon expanded glyphicon glyphicon-chevron-up" aria-label="Collapse"></span>
            </div>
            <div class="collapsible-content">
                <div id="reportsList" class="list-items with-badge">
                    @*<div class="list-item active modal-link"
                         data-modal="profitabilityReportsContainer"
                         data-target="#profitabilityReportsContainer"
                         data-get="Profitability/Reports"
                         data-loading-message="Loading Profitibility Reports ..."
                         data-broadcast-on-load="profitabilityReportsLoaded">Profitability</div>*@
                    <div class="list-item active modal-link"
                         data-modal="incomeReportsContainer"
                         data-target="#incomeReportsContainer"
                         data-get="Income/Reports"
                         data-loading-message="Loading Income Reports ..."
                         data-broadcast-on-load="incomeReportsLoaded reportsLoaded">Income</div>
                    <div class="list-item modal-link"
                         data-modal="expensesReportsContainer"
                         data-target="#expensesReportsContainer"
                         data-get="Expenses/Reports"
                         data-loading-message="Loading Expense Reports ..."
                         data-broadcast-on-load="expensesReportsLoaded reportsLoaded">Expenses</div>
                </div>
            </div>

            <div class="clear"></div>
        </div>

    </div>
</div>

<div id="addIncomeContainer" class="pr-modal modal-full"></div>
<div id="editIncomeContainer" class="pr-modal modal-full"></div>
<div id="addExpenseContainer" class="pr-modal modal-full"></div>
<div id="editExpenseContainer" class="pr-modal modal-full"></div>

@section css
{
    @Styles.Render("~/bundles/css/finance")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/finance")
}