.content-container {
    padding: 0;
    margin: 0;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    //background-color: #3290ce;
    background-image: url('../../images/account/login-bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}

.pitch {
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    padding: 15px 38px;

    .pitch-bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        //background: #fff;
        z-index: 2;
        opacity: 0.2;
        border-radius: 52px;
    }

    .heading {
        font-size: 26px;
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        font-weight: bold;
        z-index: 3;
        position: relative;
    }

    .description {
        font-size: 16px;
        z-index: 3;
        position: relative;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);

        .dot {
            font-size: 48px;
            font-family: Georgia;
            line-height: 15px;
            display: inline-block;
            vertical-align: 2px;
            margin: 0 5px 0 8px;
        }
    }
}

.box-container {
    width: 400px;
    position: absolute;
    top: 48px;
    left: 50%;
    margin-left: -200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;

    .box-header {
        background: rgba(0, 0, 0, 0.4);
        text-align: center;
        color: #fff;
        padding: 10px 0 15px 0;
        font-family: 'Montserrat', sans-serif;

        .paren {
            font-size: 30px;
            margin: 0 4px;
            display: none;
        }

        h3 {
            font-size: 42px;
            margin: 0;
            font-weight: 700;
        }

        .tagline {
            display: inline-block;
            //border-top: 1px dashed #bbb;
            //margin-top: 5px;
            font-size: 1.1em;
        }
    }

    .box-content {
        background: #fff;
        padding: 50px 50px 80px 50px;
        box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);

        button {
            margin-top: 30px;
        }
    }
}

footer {
    z-index: 3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 36px;
    margin: 0;
    text-align: center;
    background-color: rgba(240,240,240,.8);
    padding: 9px 0;
    font-size: .9em;
    line-height: 2em;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.2);
    white-space: nowrap;

    nav {
        display: inline-block;
        margin-right: 20px;
    }

    .copyright {
        display: inline-block;
    }

    a, span {
        color: #888888;
        margin-right: 20px;
    }

    .img-link {
        width: 16px;
        height: 16px;
        opacity: .4;
        display: inline-block;
        vertical-align: -3px;

        &.twitter {
            background: url('../../images/account/twitter.png') no-repeat center center;
        }

        &:hover {
            opacity: .8;
        }
    }
}