@import "../common/collapsible";
@import "../common/modal";
@import "../common/flash";
@import "../common/form";
@import "../common/datepicker";
@import "../common/variables";
@import "../autocomplete/patients";
@import "calendar";

$labelWidth: 120px;

.more-options-container {
    width: $form-horizontal-fixed-field-width + $labelWidth;
}

.modal-full {
    .tab-loading {
        text-align: center;
        padding-top: 155px;
    }

    .btn.submitter {
        margin-top: 20px;
    }

    .pr-modal-body {
        height: 100%;

        form {
            height: 100%;
            width: 50%;

            .modal-ajax-content {
                height: 100%;
            }

            label {
                width: $labelWidth;
                text-align: left;
            }
        }
    }
}

.medicines-list-container {
    display: none;
    position: relative;
    width: $form-horizontal-fixed-field-width + $labelWidth;
}

.medicines-list {
    background: #f5f5f5;
    padding: 10px 15px 5px 15px;
    border: 1px solid #ddd;
    border-top: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
}

.medicines-list-close {
    font-size: 1.5em;
    position: absolute;
    right: 23px;
    top: 23px;
    color: #bbb;
    cursor: pointer;
}

.medicines-list-content {
    padding: 20px 0;

    select {
        width: 270px;
        display: inline-block;
    }
}

.p-loading {
    text-align: center;
}

.medicines-connector {
    position: absolute;
    width: 1px;
    height: 30px;
    background: #ddd;
    left: 150px;
    top: -15px;
}

.issue-medicine-a {
    margin-left: 5px;
    display: inline-block;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fafafa;
    display: none;
}