.fc-event {
  background-color: #479BCB;
  cursor: pointer;
  position: relative; }
  .fc-event .glyphicon {
    position: absolute;
    top: 0;
    right: 0; }
  .fc-event.canceled {
    padding-right: 12px; }
    .fc-event.canceled .glyphicon {
      color: #ff0000; }

.fc-day-grid-event > .fc-content {
  white-space: normal;
  overflow: auto; }

