.fc-event {
    background-color: #479BCB;
    cursor: pointer;
    position: relative;

    .glyphicon {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.canceled {
        padding-right: 12px;

        .glyphicon {
            color: #ff0000;
        }
    }
}

.fc-day-grid-event > .fc-content {
    white-space: normal;
    overflow: auto;
}