﻿@model ProdoctWebApp.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "../Shared/_LayoutBoxed.cshtml";
}

@using (Ajax.BeginForm("ForgotPassword", "Account", null, new AjaxOptions
                    {
                        OnBegin = "pr.forgotpassword.before",
                        OnSuccess = "pr.forgotpassword.after",
                        OnFailure = "pr.forgotpassword.error"
                    }, new { @class = "forgotPassword" }))
{
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <button id="btnResetPassword" type="submit" class="btn btn-success btn-block submitter"
            data-remove-on-submit="btn-success"
            data-add-on-submit="btn-default">
        Reset Password
    </button>
}

<div class="requestSubmitted">
    <div id="responseMessage">
        <p>If this email is registered with us,</p>
        you'll receive instructions to reset<br />
        your password shortly.
    </div>
</div>

@section css
{
    @Styles.Render("~/bundles/css/forgotpassword")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/forgotpassword")
}