﻿@model ProdoctWebApp.Models.LoginModel
@{
    ViewBag.Title = "Sign In";
    Layout = "../Shared/_LayoutBoxed.cshtml";
}

<div class="login">
    @Html.ValidationSummary(true)

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => x.ReturnUrl)

        <div class="form-group">
            <label for="Email" class="control-label">Email</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Password" class="control-label">Password</label>
            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        </div>
        <button id="btnLogin" type="submit" class="btn btn-success btn-block">Sign In</button>
    }

    <a id="forgotPassword" href="@Url.RouteUrl(RouteName.ForgotPassword)">Forgot Password?</a>
</div>

@section css
{
    @Styles.Render("~/bundles/css/login")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/login")
}