.patient-summary {
  display: none; }

.patient-summary-content {
  height: auto;
  max-width: 320px;
  line-height: 22px;
  background: #f5f5f5;
  position: relative; }
  .patient-summary-content > div {
    display: inline-block; }
  .patient-summary-content .patient-name {
    font-weight: bold;
    margin-right: 3px; }
  .patient-summary-content .patient-locality, .patient-summary-content .patient-mobile {
    font-size: 0.9em; }
  .patient-summary-content .patient-mobile {
    display: block; }
  .patient-summary-content .patient-change {
    position: absolute;
    right: -24px;
    background: #f5f5f5;
    padding: 5px;
    top: -1px;
    border: 1px solid #ccc;
    border-left: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }

