@import "../common/variables";

.patient-summary {
    display: none;
}

.patient-summary-content {
    height: auto;
    max-width: $form-horizontal-fixed-field-width;
    line-height: 22px;
    background: #f5f5f5;
    position: relative;

    & > div {
        display: inline-block;
    }

    .patient-name {
        font-weight: bold;
        margin-right: 3px;
    }

    .patient-locality, .patient-mobile {
        font-size: 0.9em;
    }

    .patient-mobile {
        display: block;
    }

    .patient-change {
        position: absolute;
        right: -24px;
        background: #f5f5f5;
        padding: 5px;
        top: -1px;
        border: 1px solid #ccc;
        border-left: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        cursor: pointer;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}