﻿@model ProdoctWebApp.Models.IncomeAddModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Add Income</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("Add", "Income", null, new AjaxOptions
                        {
                            OnBegin = "pr.finance.income.add.before",
                            OnSuccess = "pr.finance.income.add.after",
                            OnFailure = "pr.finance.income.add.error"
                        }, new { @class = "form-horizontal", id = "addIncomeForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">
                
                <div class="form-group">
                    <label for="add_IncomeCategory" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Category, Model.AllCategories, new { id = "add_IncomeCategory", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group patient-fees">
                    <div class="patient-input form-group">
                        <label for="add_IncomePatient" class="col-sm-2 control-label">Patient</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.PatientNameOrMobile, new { id = "add_IncomePatientNameOrMobile", placeholder = "Patient's Name / Mobile", @class = "form-control patient-name-input" })
                        </div>
                    </div>

                    <div class="patient-summary form-group">
                        @Html.HiddenFor(x => x.PatientId, new { @class = "patient-id" })
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Patient</label>
                            <div class="col-sm-10">
                                <div class="form-control patient-summary-content">
                                    <div class="patient-name"></div>
                                    <div class="patient-locality"></div>
                                    <div class="patient-mobile"></div>
                                    <span class="glyphicon glyphicon-remove patient-change" title="Change"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="add_IncomeDoctorId" class="col-sm-2 control-label">Doctor</label>
                        <div class="col-sm-10">
                           @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "add_IncomeDoctorId", @class = "form-control doctor-id" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_IncomeDate" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Date, new { id = "add_IncomeDate", placeholder = "Date", @class = "form-control datepicker", @readonly = true })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_IncomeAmount" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Amount, new { htmlAttributes = new { @class = "form-control focus-on-load", id = "add_IncomeAmount", placeholder = "Amount" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_IncomeMode" class="col-sm-2 control-label">Mode</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Mode, Model.AllModes, new { id = "add_IncomeMode", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_IncomeNotes" class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Notes, new { id = "add_IncomeNotes", placeholder = "Notes", @class = "form-control", rows = 3 })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnAddIncome" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Add Income
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>