﻿@model ProdoctWebApp.Models.IncomeEditModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Edit Income</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("Edit", "Income", null, new AjaxOptions
                        {
                            OnBegin = "pr.finance.income.edit.before",
                            OnSuccess = "pr.finance.income.edit.after",
                            OnFailure = "pr.finance.income.edit.error"
                        }, new { @class = "form-horizontal", id = "editIncomeForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">
                
                @Html.HiddenFor(x => x.Id, new { id = "edit_IncomeId" })

                <div class="form-group">
                    <label for="edit_IncomeCategory" class="col-sm-2 control-label">Category</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Category, Model.AllCategories, new { id = "edit_IncomeCategory", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_IncomeDate" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Date, new { id = "edit_IncomeDate", placeholder = "Date", @class = "form-control datepicker", @readonly = true })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_IncomeAmount" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Amount, new { htmlAttributes = new { @class = "form-control focus-on-load", id = "edit_IncomeAmount", placeholder = "Amount" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_IncomeMode" class="col-sm-2 control-label">Mode</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Mode, Model.AllModes, new { id = "edit_IncomeMode", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_IncomeNotes" class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Notes, new { id = "edit_IncomeNotes", placeholder = "Notes", @class = "form-control", rows = 3 })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnEditIncome" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Update Record
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div id="incomeMoreOptionsContainer" class="col-sm-12 more-options-container">
                        <div class="more-options">
                            <label>Options:</label>
                            <button id="deleteIncome" class="delete-income btn-link submitter">Delete Permanently</button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>