﻿@model ProdoctWebApp.Models.FeesEditModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Edit Fees</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("EditFees", "Income", null, new AjaxOptions
                        {
                            OnBegin = "pr.finance.income.editFees.before",
                            OnSuccess = "pr.finance.income.editFees.after",
                            OnFailure = "pr.finance.income.editFees.error"
                        }, new { @class = "form-horizontal", id = "editFeesForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">
                
                @Html.HiddenFor(x => x.Id, new { id = "edit_FeesId" })

                <div class="patient-summary show form-group">

                    @Html.HiddenFor(x => x.PatientId)

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Patient</label>
                        <div class="col-sm-10">
                            <div id="edit_patientSummary" class="form-control patient-summary-content">
                                <div class="patient-name">@Model.PatientName</div>
                                <div class="patient-locality">@Model.PatientLocality</div>
                                <div class="patient-mobile">@Model.PatientMobile</div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label for="edit_FeesDoctorId" class="col-sm-2 control-label">Doctor</label>
                    <div class="col-sm-10">
                        @if(string.IsNullOrWhiteSpace(Model.AppointmentId))
                        { 
                            @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "edit_FeesDoctorId", @class = "form-control doctor-id" })
                        }
                        else
                        {
                            @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "edit_FeesDoctorId", @class = "form-control doctor-id", disabled = true })
                            @Html.HiddenFor(x => x.DoctorId)
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_FeesDate" class="col-sm-2 control-label">Date</label>
                    <div class="col-sm-10">
                        @if(string.IsNullOrWhiteSpace(Model.AppointmentId))
                        {
                        @Html.TextBoxFor(x => x.Date, new { id = "edit_FeesDate", placeholder = "Date", @class = "form-control datepicker", @readonly = true })
                        }
                        else
                        {
                        @Html.TextBoxFor(x => x.Date, new { id = "edit_FeesDate", placeholder = "Date", @class = "form-control", @readonly = true })
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_FeesAmount" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-10">
                        @Html.EditorFor(x => x.Amount, new { htmlAttributes = new { @class = "form-control focus-on-load", id = "edit_FeesAmount", placeholder = "Amount" } })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_FeesMode" class="col-sm-2 control-label">Mode</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.Mode, Model.AllModes, new { id = "edit_FeesMode", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_FeesNotes" class="col-sm-2 control-label">Notes</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(x => x.Notes, new { id = "edit_FeesNotes", placeholder = "Notes", @class = "form-control", rows = 3 })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnEditIncome" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Update Record
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div id="incomeMoreOptionsContainer" class="col-sm-12 more-options-container">
                        <div class="more-options">
                            <label>Options:</label>
                            <button id="deleteIncome" class="delete-income btn-link submitter">Delete Permanently</button>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>