﻿@model ProdoctWebApp.Models.IncomeListModel

@if (Model.Incomes.Count == 0)
{
    <tr>
        <td class="no-more-results-container" colspan="4">
            <span class="no-more-results">End of list</span>
        </td>
    </tr>
}
else
{

    foreach (var income in Model.Incomes)
    {
        var url = "Edit";
        var broadcast = "incomeEditFormLoaded";
        var message = "Income";
        
        if (income.Category == "Fees")
        {
            url = "EditFees";
            broadcast = "feesEditFormLoaded";
            message = "Fees";
        }
        
        <tr class="income modal-link" data-id="@income.Id"
            data-modal="editIncomeContainer" data-target="#editIncomeContainer"
            data-get="/Income/@url/@income.Id"
            data-loading-message="Loading @message Record ..."
            data-broadcast-on-load="@broadcast">

            <td class="income-date">@income.Date</td>
            <td class="income-mode">@income.Mode</td>
            <td class="income-amount">@income.Amount</td>
            <td class="income-category">
                @income.Category

                @if (!string.IsNullOrWhiteSpace(income.DoctorName))
                {
                    <span class="income-doctor-name">(@income.DoctorName)</span>
                }
            </td>

        </tr>
    }

    if (Model.MoreExist)
    {
        <tr class="get-more-container next-set">
            <td colspan="4">
                <button id="incomesGetMore" class="btn btn-default get-more" data-skip="@Model.Skip">Get more</button>
            </td>
        </tr>
    }
}