﻿@using ProdoctWebApp.Models;
@model ReportPerDoctorModel

<div class="report-chart-container">
    <div class="report-chart">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="report-list-container">
    <table class="table table-hover table-incomes">
        <thead>
            <tr>
                <th></th>
                <th>Doctor</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var doctor in Model.List.Doctors)
            {
                <tr>
                    <td><div class="income-color" style="background: @doctor.CalendarColor"></div></td>
                    <td class="income-doctor">@doctor.DoctorName</td>
                    <td class="income-amount">@doctor.Amount</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).trigger(pr.finance.events.reportLoadedPerDoctor, ['@Html.Raw(Model.ChartJson)']);
</script>