﻿@using ProdoctWebApp.Models;
@model ReportByCategoryModel

<div class="report-chart-container">
    <div class="report-chart">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="report-list-container">
    <table class="table table-hover table-incomes">
        <thead>
            <tr>
                <th></th>
                <th>Category</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var category in Model.List.Categories)
            {
                <tr>
                    <td><div class="income-color" style="background: @category.Color"></div></td>
                    <td class="income-category">@category.Category</td>
                    <td class="income-amount">@category.Amount</td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).trigger(pr.finance.events.reportLoadedByCategory, ['@Html.Raw(Model.ChartJson)']);
</script>