﻿@using ProdoctWebApp.Models;
@model ReportAllIncomeModel

<div class="report-chart-container">
    <div class="report-chart">
        <canvas id="myChart"></canvas>
    </div>
</div>

<div class="report-list-container">
    <table class="table table-hover table-incomes">
        <thead>
            <tr>
                <th>Date</th>
                <th>Mode</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @Html.Partial(FinanceModel.GetViewName("Income/_List"), Model.List)
        </tbody>
    </table>
</div>

<script>
    $(document).trigger(pr.finance.events.reportLoadedAllIncome, ['@Html.Raw(Model.ChartJson)']);
</script>