﻿@model ProdoctWebApp.Models.FeesAddModel
@{
    ViewBag.Title = "Add Fees";
}

<div class="content">
    <div id="addFeesContainer" class="pr-modal modal-full show">
        <div class="pr-modal-content">
            <div class="pr-modal-header">
                <div class="pr-modal-header-content">
                    <div class="pr-modal-title"><h3>Add Fees</h3></div>
                </div>
            </div>

            <div class="pr-modal-body">
                @using (Ajax.BeginForm("AddFees", "Income", null, new AjaxOptions
                        {
                            OnBegin = "pr.finance.addFees.before",
                            OnSuccess = "pr.finance.addFees.after",
                            OnFailure = "pr.finance.addFees.error"
                        }, new { @class = "form-horizontal add-fees", id = "addFeesForm" }))
                {
                    <div class="form-horizontal-fixed col-sm-8">

                        <div class="form-group">
                            <label for="add_FeesCategory" class="col-sm-2 control-label">Category</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(x => x.Category, Model.AllCategories, new { id = "add_FeesCategory", @class = "form-control" })
                            </div>
                        </div>

                        @Html.HiddenFor(x => x.AppointmentId)

                        <div class="patient-fees patient-summary form-group">
                            @Html.HiddenFor(x => x.PatientId, new { @class = "patient-id" })
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Patient</label>
                                <div class="col-sm-10">
                                    <div class="form-control patient-summary-content">
                                        <div class="patient-name">@Model.PatientName</div>
                                        <div class="patient-locality">@Model.PatientLocality</div>
                                        <div class="patient-mobile">@Model.PatientMobile</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="add_FeesDoctorId" class="col-sm-2 control-label">Doctor</label>
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(x => x.DoctorId, Model.AllDoctors, new { id = "add_FeesDoctorId", @class = "form-control doctor-id", disabled = true })
                                    @Html.HiddenFor(x => x.DoctorId)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add_FeesDate" class="col-sm-2 control-label">Date</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.Date, new { id = "add_FeesDate", placeholder = "Date", @class = "form-control", @readonly = true })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add_FeesAmount" class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                @Html.EditorFor(x => x.Amount, new { htmlAttributes = new { @class = "form-control focus-on-load", id = "add_FeesAmount", placeholder = "Amount" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add_FeesMode" class="col-sm-2 control-label">Mode</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(x => x.Mode, Model.AllModes, new { id = "add_FeesMode", @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="add_FeesNotes" class="col-sm-2 control-label">Notes</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(x => x.Notes, new { id = "add_FeesNotes", placeholder = "Notes", @class = "form-control", rows = 3 })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10 btn-container">
                                <button id="btnAddFees" type="submit"
                                        class="btn btn-success btn-block submitter"
                                        data-remove-on-submit="btn-success"
                                        data-add-on-submit="btn-default">
                                    Add Fees
                                </button>
                            </div>
                        </div>

                    </div>
                }

                <div id="feesAdded" class="fees-added">
                    <div>Added successfully</div>
                    <div><a href="#" onclick="window.close()">Close this window</a></div>
                </div>
            </div>



        </div>
    </div>
</div>

@section css
{
    @Styles.Render("~/bundles/css/finance")
}

@section scripts
{
    @Scripts.Render("~/bundles/js/finance")
}