.sidebar .nav-pills > li.active > a, .sidebar .nav-pills > li.active > a:hover, .sidebar .nav-pills > li.active > a:focus {
  color: #333;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #ccc;
  border-left: 4px solid #2fa4e7;
  border-right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: bold; }
.sidebar .tabs-container {
  padding: 20px 0; }
.sidebar .nav-pills > li > a {
  width: 93%;
  float: right;
  text-align: left;
  padding: 12px 30px; }

.tab-loading {
  text-align: center;
  padding: 25px 0; }

.tab-pane .padding, .tab-pane.padding {
  padding: 40px 20px; }

.single-tab-heading {
  position: relative; }
  .single-tab-heading .heading {
    font-size: 1.2em;
    cursor: default; }
    .single-tab-heading .heading:hover {
      background-color: transparent !important;
      border-color: transparent !important; }
  .single-tab-heading .options {
    position: absolute;
    right: 12px;
    top: 0; }

.form-horizontal-fixed {
  padding-bottom: 35px;
  width: 100%; }
  .form-horizontal-fixed .form-group label {
    width: 140px; }
  .form-horizontal-fixed .form-group .col-sm-10 {
    width: 320px; }
  .form-horizontal-fixed .btn-link[disabled] {
    color: #bbb; }
  .form-horizontal-fixed.padding {
    padding: 40px 20px; }
  .form-horizontal-fixed .checkbox {
    display: inline-block; }
    .form-horizontal-fixed .checkbox label {
      width: auto !important; }

input, button, select, textarea {
  max-width: 320px; }

.more-options-container {
  margin-top: 35px; }

.more-options {
  background: #f5f5f5;
  padding: 10px 15px 5px 15px;
  font-size: 0.9em;
  border: 1px solid #ddd;
  border-top: 1px solid #ccc;
  border-radius: 4px; }
  .more-options label {
    width: auto !important; }
  .more-options > .btn-link {
    padding: 0 12px;
    cursor: pointer;
    border-right: 1px solid #ccc;
    margin-top: 0 !important; }
    .more-options > .btn-link:last-child {
      border-right: 0;
      padding-right: 0; }

.flash {
  display: none;
  position: absolute;
  top: -8px;
  z-index: 10000;
  padding: 21px 20px 13px 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer; }
  .flash.loading {
    background: #ffff7b;
    cursor: default; }
  .flash.info {
    background: #CAECFF; }
  .flash.error {
    background: #DF4242;
    color: #fff; }
  .flash.success {
    background: #31BB1A;
    color: #fff; }

.single-message {
  text-align: center; }

.pr-modal {
  display: none;
  z-index: 9999; }

.modal-link {
  cursor: pointer; }

.modal-full {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998; }
  .modal-full .pr-modal-content {
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
    overflow: auto; }
  .modal-full .pr-modal-header {
    position: fixed;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 999; }
    .modal-full .pr-modal-header .pr-modal-header-content {
      background: #fff;
      width: 100%;
      height: 55px;
      border-bottom: 1px solid #eee;
      z-index: 999; }
    .modal-full .pr-modal-header .pr-modal-title {
      float: left;
      margin-top: 14px;
      margin-left: 20px; }
      .modal-full .pr-modal-header .pr-modal-title h3 {
        display: inline; }
    .modal-full .pr-modal-header .pr-modal-sub-title {
      margin: 0 15px; }
    .modal-full .pr-modal-header .modal-close {
      float: right;
      margin-top: 12px;
      margin-right: 25px;
      font-size: 24px;
      cursor: pointer;
      color: #317eac; }
  .modal-full .pr-modal-body {
    padding-top: 95px;
    padding-bottom: 25px;
    width: 100%;
    background: #fff; }
    .modal-full .pr-modal-body .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0; }
      .modal-full .pr-modal-body .form-horizontal .form-group:last-child {
        margin-bottom: 0; }
    .modal-full .pr-modal-body .padding {
      padding: 10px 40px; }

#myinfo .form-group label {
  width: 90px; }

#password .form-group label {
  width: 175px; }

#practice .form-group label {
  width: 150px; }

#calendar .form-group label {
  width: 200px; }

#btnUpdateCalendarSettings {
  margin-top: 20px; }

.table-staff .name {
  padding-left: 40px; }
.table-staff .staff-row {
  cursor: pointer; }
  .table-staff .staff-row.doctor .name {
    background: url("/Content/images/settings/doctor.png") no-repeat 8px center; }
.table-staff .alert {
  padding: 2px 6px;
  display: inline-block;
  margin: 0;
  border: 0; }

#editStaffContainer .form-group label, #addStaffContainer .form-group label {
  width: 90px;
  text-align: left; }

.staff-role-group {
  display: none; }

#staffprivileges .form-group label, #doctorprivileges .form-group label {
  width: 130px; }
#staffprivileges .form-group .checkbox, #doctorprivileges .form-group .checkbox {
  margin-right: 30px; }
#staffprivileges .alert, #doctorprivileges .alert {
  padding: 5px 0 10px 0;
  width: 450px; }

#addDoctorForm .form-group label, #editDoctorForm .form-group label {
  width: 140px; }

.privileges.admin {
  display: none; }

#doctorMoreOptionsContainer {
  width: 460px; }

#staffMoreOptionsContainer {
  width: 410px; }

.content-with-sidebar {
  padding-left: 265px; }
  .content-with-sidebar .sidebar {
    width: 265px; }
  .content-with-sidebar .modal-full {
    padding: 30px 30px 15px 7px; }
    .content-with-sidebar .modal-full .pr-modal-header {
      padding-left: 265px !important; }
    .content-with-sidebar .modal-full .pr-modal-body {
      padding-top: 65px;
      padding-bottom: 0; }
    .content-with-sidebar .modal-full .tab-pane .form-horizontal-fixed.padding {
      padding: 40px 0; }

.tab-pane .form-horizontal-fixed .form-group label {
  text-align: left; }

form button.submitter {
  margin-top: 20px; }

.notice {
  text-align: center;
  padding: 12px 15px;
  margin-bottom: 65px; }

.resend-link {
  cursor: pointer;
  border-bottom: 1px solid #E8D6D5;
  color: #d43f3a; }
  .resend-link:hover {
    text-decoration: none;
    border-bottom: 1px solid #d43f3a;
    color: #d43f3a; }

