@import "../common/tabs";
@import "../common//form";
@import "../common/flash";
@import "../common//variables";
@import "../common/modal";
@import "profile";
@import "practice";
@import "calendar";
@import "staff";

$sidebar-width: 265px;

.content-with-sidebar {
    padding-left: $sidebar-width;

    .sidebar {
        width: $sidebar-width;
    }

    .modal-full {
        padding: 30px 30px 15px 7px;

        .pr-modal-header {
            padding-left: $sidebar-width !important;
        }

        .pr-modal-body {
            padding-top: 65px;
            padding-bottom: 0;
        }

        .tab-pane {
            .form-horizontal-fixed.padding {
                padding: 40px 0;
            }
        }
    }
}

.tab-pane {
    .form-horizontal-fixed {
        .form-group {
            label {
                text-align: left;
            }
        }
    }
}

form {
    button.submitter {
        margin-top: 20px;
    }
}

.notice {
    text-align: center;
    padding: 12px 15px;
    margin-bottom: 65px;
}

.resend-link {
    cursor: pointer;
    border-bottom: 1px solid #E8D6D5;
    color: #d43f3a;

    &:hover {
        text-decoration: none;
        border-bottom: 1px solid #d43f3a;
        color: #d43f3a;
    }
}