@import "../common/variables";

$staffLabelWidth: 90px;
$privilegesLabelWidth: 130px;
$doctorLabelWidth: 140px;

.table-staff {
    .name {
        padding-left: 40px;
    }

    .staff-row {
        cursor: pointer;

        &.doctor {
            .name {
                background: url('/Content/images/settings/doctor.png') no-repeat 8px center;
            }
        }
    }

    .alert {
        padding: 2px 6px;
        display: inline-block;
        margin: 0;
        border: 0;
    }
}

#editStaffContainer, #addStaffContainer {
    .form-group {
        label {
            width: $staffLabelWidth;
            text-align: left;
        }
    }
}

.staff-role-group {
    display: none;
}

#staffprivileges, #doctorprivileges {
    .form-group {
        label {
            width: $privilegesLabelWidth;
        }

        .checkbox {
            margin-right: 30px;
        }
    }

    .alert {
        padding: 5px 0 10px 0;
        width: $privilegesLabelWidth + $form-horizontal-fixed-field-width;
    }
}

#addDoctorForm, #editDoctorForm {
    .form-group {
        label {
            width: $doctorLabelWidth;
        }
    }
}

.privileges {
    &.admin {
        display: none;
    }
}

#doctorMoreOptionsContainer {
    width: $doctorLabelWidth + $form-horizontal-fixed-field-width;
}

#staffMoreOptionsContainer {
    width: $staffLabelWidth + $form-horizontal-fixed-field-width;
}