.table-staff .name {
  padding-left: 40px; }
.table-staff .staff-row {
  cursor: pointer; }
  .table-staff .staff-row.doctor .name {
    background: url("/Content/images/settings/doctor.png") no-repeat 8px center; }
.table-staff .alert {
  padding: 2px 6px;
  display: inline-block;
  margin: 0;
  border: 0; }

#editStaffContainer .form-group label, #addStaffContainer .form-group label {
  width: 90px;
  text-align: left; }

.staff-role-group {
  display: none; }

#staffprivileges .form-group label, #doctorprivileges .form-group label {
  width: 130px; }
#staffprivileges .form-group .checkbox, #doctorprivileges .form-group .checkbox {
  margin-right: 30px; }
#staffprivileges .alert, #doctorprivileges .alert {
  padding: 5px 0 10px 0;
  width: 450px; }

#addDoctorForm .form-group label, #editDoctorForm .form-group label {
  width: 140px; }

.privileges.admin {
  display: none; }

#doctorMoreOptionsContainer {
  width: 460px; }

#staffMoreOptionsContainer {
  width: 410px; }

