﻿@model ProdoctWebApp.Models.PatientAddModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>Add Patient</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">
        @using (Ajax.BeginForm("Add", "Patients", null, new AjaxOptions
                        {
                            OnBegin = "pr.patients.add.before",
                            OnSuccess = "pr.patients.add.after",
                            OnFailure = "pr.patients.add.error"
                        }, new { @class = "form-horizontal", id = "addPatientForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8">

                <div class="form-group">
                    <label for="add_PatientName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { id = "add_PatientName", placeholder = "Name", @class = "form-control focus-on-load" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_PatientMobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Mobile, new { id = "add_PatientMobile", placeholder = "Mobile", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_PatientEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Email, new { id = "add_PatientEmail", placeholder = "Email", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="add_PatientLocality" class="col-sm-2 control-label">Locality</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Locality, new { id = "add_PatientLocality", placeholder = "Locality", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnAddPatient" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Add Patient
                        </button>
                    </div>
                </div>

            </div>
        }
    </div>
</div>