﻿@model ProdoctWebApp.Models.PatientEditModel

<div class="pr-modal-content">
    <div class="pr-modal-header">
        <div class="pr-modal-header-content">
            <div class="modal-close"><span class="glyphicon glyphicon-remove"></span></div>
            <div class="pr-modal-title"><h3>@Model.Name</h3></div>
        </div>
    </div>

    <div class="pr-modal-body">

        @using (Ajax.BeginForm("Edit", "Patients", null, new AjaxOptions
                {
                    OnBegin = "pr.patients.edit.before",
                    OnSuccess = "pr.patients.edit.after",
                    OnFailure = "pr.patients.edit.error"
                }, new { @class = "form-horizontal", id = "editPatientForm" }))
        {
            <div class="form-horizontal-fixed col-sm-8 padding">

                @Html.HiddenFor(x => x.Id)

                <div class="form-group">
                    <label for="edit_PatientName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { id = "edit_PatientName", placeholder = "Name", @class = "form-control focus-on-load" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_PatientMobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Mobile, new { id = "edit_PatientMobile", placeholder = "Mobile", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_PatientEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Email, new { id = "edit_PatientEmail", placeholder = "Email", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="edit_PatientLocality" class="col-sm-2 control-label">Locality</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Locality, new { id = "edit_PatientLocality", placeholder = "Locality", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 btn-container">
                        <button id="btnEditPatient" type="submit"
                                class="btn btn-success btn-block submitter"
                                data-remove-on-submit="btn-success"
                                data-add-on-submit="btn-default">
                            Update
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div id="PatientMoreOptionsContainer" class="col-sm-12 more-options-container">
                        <div class="more-options">
                            <label>Options:</label>
                            <button id="deletePatient" class="delete-staff btn-link submitter">Delete Permanently</button>
                        </div>
                        </div>
                </div>

            </div>
        }

    </div>
</div>