﻿@model ProdoctWebApp.Models.PatientsListModel

@if (Model.Patients.Count == 0)
{
    <div class="no-more-results-container">
        <span class="no-more-results">End of list</span>
    </div>
}
else
{
    foreach (var patient in Model.Patients)
    {
        <div class="patient modal-link" data-id="@patient.Id"
             data-modal="editPatientContainer" data-target="#editPatientContainer"
             data-get="/Patients/Edit/@patient.Id"
             data-loading-message="Loading @patient.Name ..."
             data-broadcast-on-load="editFormLoaded">

            <div class="patient-name">@patient.Name</div>
            <div class="patient-locality">@patient.Locality</div>
            <div class="patient-mobile">@patient.Mobile</div>

        </div>
    }

    if (Model.MoreExist)
    {
        <div class="patients-next-set patients-get-more-container">
            <button id="patientsGetMore" class="btn btn-default btn-block patients-get-more" data-skip="@Model.Skip">Get more</button>
        </div>
    }
}