﻿@{
    ViewBag.Title = "Patients";
}

<div class="content-with-sidebar">
    <div class="content">
        <div class="patients-header clearfix">
            <h2 class="patients-heading">Patients</h2>
            <form id="patientsSearchForm">
                <div class="patients-search-container form-group has-feedback has-feedback-left">
                    <input id="patientsSearch" type="text" class="form-control patients-search" placeholder="Search by Patient Name / Locality / Mobile" />
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
        <div id="patients" class="patients-list clearfix">
            <div class="patients-next-set"></div>
        </div>
    </div>
    <div class="sidebar">
        @if(ViewBag.Privileges.PatientsWrite)
        { 
        <div class="right">
            <button type="button" class="btn btn-block btn-success big-btn modal-link"
                    data-modal="addPatientContainer" data-target="#addPatientContainer" 
                    data-get="/Patients/Add"
                    data-loading-message="Loading Add Patient ..."
                    data-broadcast-on-load="addFormLoaded">
                Add Patient
            </button>
        </div>
        }
        
        <div class="collapsible expanded right">
            <div class="collapsible-header">
                List Patients
                <span class="collapsible-icon collapsed glyphicon glyphicon-chevron-down" aria-label="Expand"></span>
                <span class="collapsible-icon expanded glyphicon glyphicon-chevron-up" aria-label="Collapse"></span>
            </div>
            <div class="collapsible-content">
                <div id="patientsSort" class="list-items with-badge patients-sort">
                    <div class="list-item" data-sort-by="Name">All Patients<span id="allPatientsCount" class="badge"></span></div>
                    <div class="list-item active" data-sort-by="LastAppointment.Date">Recently visited</div>
                    <div class="list-item" data-sort-by="CreatedOn">Recently added</div>
                </div>
            </div>

            <div class="clear"></div>
        </div>

    </div>
</div>

<div id="addPatientContainer" class="pr-modal modal-full"></div>
<div id="editPatientContainer" class="pr-modal modal-full"></div>

@section css
{
@Styles.Render("~/bundles/css/patients")
}

@section scripts
{
@Scripts.Render("~/bundles/js/patients")
}